@model IEnumerable<DataLayer.DomainModel.tbUsers>

@{
    Layout = null;
    ViewBag.Title = "Account Log";
}

@using V2boardApi.Tools;
<table class="table" id="tblUser" style="width: 100%;" dir="ltr">
    <thead>
        <tr>
            <th>منو</th>
            <th> محدودیت | مصرف (تومان) </th>
            <th> وضعیت </th>
            <th> نام کاربری </th>
            <th> پروفایل </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderByDescending(p => p.Wallet >= (p.Limit - (p.Limit * 0.2))).ToList())
        {
            <tr>
                <td style="background-color:white;">
                    <a class="" data-bs-toggle="dropdown" aria-expanded="true"><i class="mdi mdi-menu" style=" font-size: 25px;cursor:pointer;"></i></a>
                    <div class="dropdown-menu" data-popper-placement="bottom-start" style="cursor: pointer;text-align:right;">
                        <a class="dropdown-item" href="@Url.Action("GetUserAccountLog","Admin",new {area="App",id=item.User_ID})">تاریخچه ساخت کاربر</a>
                        <a class="dropdown-item" onclick="Factors('@item.User_ID')">پرداختی ها</a>
                        <a class="dropdown-item" onclick="EditUser(this)" id="User_@item.User_ID">ویرایش</a>
                        @if (item.Status.Value)
                        {
                            <a class="dropdown-item" onclick="BanUser('@item.User_ID')">غیرفعال سازی</a>
                        }
                        else
                        {
                            <a class="dropdown-item" onclick="BanUser('@item.User_ID')">فعال سازی</a>
                        }
                        <a class="dropdown-item" onclick="EditWallet(this)" id="Wallet_@item.User_ID">تنظیمات حساب</a>

                        @{
                            var bot = BotManager.GetBot(item.Username);
                        }

                        @if (bot != null)
                        {
                            if (bot.Started)
                            {
                                <a class="dropdown-item" onclick="RunBot('@item.User_ID')" id="">خاموش کردن ربات</a>
                            }
                            else
                            {
                                <a class="dropdown-item" onclick="RunBot('@item.User_ID')" id="">روشن کردن ربات</a>
                            }
                        }
                        else
                        {
                            <a class="dropdown-item" onclick="RunBot('@item.User_ID')" id="">روشن کردن ربات</a>
                        }


                    </div>
                </td>
                @if (item.Wallet != null)
                {
                    <td> @item.Wallet.Value.ConvertToMony() | @item.Limit.Value.ConvertToMony() </td>
                }
                else
                {
                    <td> 0 T </td>
                }
                @if (item.Status.Value)
                {
                    if (item.Wallet != null && item.Limit != null)
                    {
                        var limit = (item.Limit.Value - (item.Limit.Value * 0.2));
                        if (item.Wallet >= limit)
                        {
                            if (item.Wallet.Value >= item.Limit.Value)
                            {
                                <td>
                                    <label class="badge badge-danger">اتمام سقف مصرف</label>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <label class="badge badge-gradient-warning text-black">نزدیک به اتمام سقف مصرف</label>
                                </td>
                            }
                        }
                        else
                        {
                            <td>
                                <label class="badge badge-gradient-success">عادی</label>
                            </td>
                        }
                    }
                    else
                    {
                        <td>
                            <label class="badge badge-gradient-success">عادی</label>
                        </td>
                    }
                }
                else
                {
                    <td>
                        <label class="badge badge-gradient-danger">غیرفعال</label>
                    </td>
                }
                <td> @item.Username </td>
                <td class="py-1">
                    <img src="~/Areas/App/assets/images/faces-clipart/pic-1.png" alt="image">
                </td>
            </tr>
        }
    </tbody>
</table>
