@model DataLayer.DomainModel.tbUsers
<div class="card mb-4">
    <div class="card-body">
        <div class="user-avatar-section">
            <div class="d-flex align-items-center flex-column">
                <img alt="آواتار کاربر" class="img-fluid rounded mb-3 pt-1 mt-4" height="100" src="../../assets/img/avatars/15.png" width="100" />
                <div class="user-info text-center">
                    @if (Model.FullName != null)
                    {
                        <h4 class="mb-2">@Model.FullName</h4>
                    }
                    else
                    {
                        <h4 class="mb-2">@Model.Username</h4>
                    }

                    @if (Model.Role == 1)
                    {
                        <span class="badge bg-label-success mt-1">ادمین</span>
                    }
                    else if (Model.Role == 2)
                    {
                        <span class="badge bg-label-secondary mt-1">نماینده</span>
                    }
                    else if (Model.Role == 3)
                    {
                        <span class="badge bg-label-secondary mt-1">نماینده کل</span>
                    }

                </div>
            </div>
        </div>
        <div class="d-flex justify-content-around flex-wrap mt-3 pt-3 pb-4 border-bottom">
            <div class="d-flex align-items-start me-4 mt-3 gap-2">
                <span class="badge bg-label-primary p-2 rounded">
                    <i class="ti ti-shopping-cart ti-sm"></i>
                </span>
                <div>
                    <p class="mb-0 fw-medium">@V2boardApi.Tools.Utility.ConvertToMony(Model.tbLinkUserAndPlans.Select(p => p.tbLogs.Count()).Sum())</p>
                    <small>تعداد فروش</small>
                </div>
            </div>
            <div class="d-flex align-items-start mt-3 gap-2">
                <span class="badge bg-label-primary p-2 rounded">
                    <i class="ti ti-cash ti-sm"></i>
                </span>
                <div>
                    <p class="mb-0 fw-medium">@V2boardApi.Tools.Utility.ConvertToMony(Model.tbLinkUserAndPlans.Select(p => p.tbLogs.Sum(s => s.SalePrice)).Sum().Value) تومان</p>
                    <small>مبلغ فروش</small>
                </div>
            </div>
        </div>
        <p class="mt-4 small text-uppercase text-muted">جزئیات</p>
        <div class="info-container">
            <ul class="list-unstyled">
                <li class="mb-2">
                    <span class="fw-medium me-1">نام کاربری:</span>
                    <span>@Model.Username</span>
                </li>
                <li class="mb-2 pt-1">
                    <span class="fw-medium me-1">ایمیل:</span>
                    <span>@Model.Email</span>
                </li>
                <li class="mb-2 pt-1">
                    <span class="fw-medium me-1">وضعیت:</span>
                    @if (Model.Status == true)
                    {
                        <span class="badge bg-label-success">فعال</span>
                    }
                    else
                    {
                        <span class="badge bg-label-danger">غیرفعال</span>
                    }
                </li>
                <li class="mb-2 pt-1">
                    <span class="fw-medium me-1">نقش:</span>
                    @if (Model.Role == 1)
                    {
                        <span>ادمین سیستم</span>
                    }
                    else if (Model.Role == 3)
                    {
                        <span>نماینده کل</span>
                    }
                    else if (Model.Role == 2)
                    {
                        <span>نماینده</span>
                    }
                </li>
                <li class="mb-2 pt-1">
                    <span class="fw-medium me-1">شماره موبایل:</span>
                    <span>
                        <bdi>@Model.PhoneNumber</bdi>
                    </span>
                </li>
                <li class="mb-2 pt-1">
                    <span class="fw-medium me-1">محدودیت خرید:</span>
                    <span>
                        @V2boardApi.Tools.Utility.ConvertToMony(Model.Limit.Value) تومان
                    </span>
                </li>
                <li class="mb-2 pt-1">
                    <span class="fw-medium me-1">بدهی:</span>
                    <span>
                        @V2boardApi.Tools.Utility.ConvertToMony(Model.Wallet.Value)  تومان
                    </span>
                </li>

            </ul>

            @{
                var Role = Request.Cookies["Role"].Value;
            }

            @if (Role == "1")
            {

                <label class="switch">
                    @if (Model.GeneralAgent)
                    {
                        <input class="switch-input" type="checkbox" onchange="ChangeAgent(this)" checked>
                    }
                    else
                    {
                        <input class="switch-input" type="checkbox" onchange="ChangeAgent(this)">
                    }
                    <span class="switch-toggle-slider">
                        <span class="switch-on"></span>
                        <span class="switch-off"></span>
                    </span>
                    <span class="switch-label">به عنوان نماینده کل محسوب شود ؟</span>
                </label>
            }

            @if (Model.Username != User.Identity.Name)
            {
                <hr />
                <div class="d-flex justify-content-center">
                    <a class="btn btn-success me-3" data-bs-target="#editWallet" data-bs-toggle="modal" href="javascript:">شارژ کیف پول</a>
                    @if (Role == "1")
                    {
                        <a class="btn btn-primary me-3" data-bs-target="#editSetting" data-bs-toggle="modal" href="javascript:">تنظیمات</a>
                    }
                </div>
            }
        </div>
    </div>
</div>