@{
    Layout = "~/Areas/App/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "لاگ کاربر";
}

@model V2boardApi.Models.AdminModel.UserLogViewModel

@using V2boardApi.Tools;


<div class="content-wrapper" style="padding: 1rem 1rem;">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body table-responsive">
                    <h4 class="card-title">تاریخچه ساخت کاربر : @ViewBag.Name</h4>
                    <div class="row">
                        <div class="col-md-3 stretch-card grid-margin">
                            <div class="card bg-gradient-danger card-img-holder text-white">
                                <div class="card-body">
                                    <img src="~/Areas/App/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">
                                        تعداد فروش کل  <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                                    </h4>
                                    <h2 class="mb-5">@Model.CountCreated</h2>

                                    <h6 class="">تعداد فروش از اخرین تسویه : @Model.CountCreatedFormLastPay</h6>
                                    @*@if (Math.Round(Model.InterestRatesFromMajor, 2) > 0)
                        {
                            <h6 class="badge badge-gradient-success">@Math.Round(Model.InterestRatesFromMajor, 2)% سود نسبت به هفته قبل</h6>
                        }
                        else
                        {
                            <h6 class="badge badge-gradient-danger">@Math.Round(Model.InterestRatesFromMajor, 2)% ضرر نسبت به هفته قبل</h6>
                        }*@

                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 stretch-card grid-margin">
                            <div class="card bg-gradient-info card-img-holder text-white">
                                <div class="card-body">
                                    <img src="~/Areas/App/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">
                                        مبلغ کل فروش <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                                    </h4>


                                    <h2 class="mb-5">@Model.SumSale.ConvertToMony()</h2>
                                    <h6 class="">مبلغ بدهی از اخرین تسویه : @Model.SumSaleFromLastPay.ConvertToMony()</h6>
                                    @*@if (@Math.Round(Model.InterestRatesFromBot, 2) > 0)
                        {
                            <h6 class="badge badge-gradient-success">2% سود نسبت به هفته قبل</h6>
                        }
                        else
                        {
                            <h6 class="badge badge-gradient-danger">2% ضرر نسبت به هفته قبل</h6>
                        }*@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 stretch-card grid-margin">
                            <div class="card bg-gradient-success card-img-holder text-white">
                                <div class="card-body">
                                    <img src="~/Areas/App/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">
                                        تعداد تمدید <i class="mdi mdi-diamond mdi-24px float-right"></i>
                                    </h4>
                                    <h2 class="mb-5">@Model.Logs.Where(p=> p.Action == "کاربر تمدید شد").Count()</h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 stretch-card grid-margin">
                            <div class="card bg-gradient-info card-img-holder text-white">
                                <div class="card-body">
                                    <img src="~/Areas/App/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                                    <h4 class="font-weight-normal mb-3">
                                        تعداد جدید <i class="mdi mdi-diamond mdi-24px float-right"></i>
                                    </h4>
                                    <h2 class="mb-5">@Model.Logs.Where(p => p.Action == "کاربر اضافه کرد").Count()</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table id="AccountLogTable" class="table" style="width:100%;direction:ltr">
                        <thead>
                            <tr>
                                <th>منو</th>
                                <th>تعرفه</th>
                                <th>قیمت فروش</th>
                                <th>رویداد</th>
                                <th>تاریخ ایجاد</th>
                                <th>نام اشتراک</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Logs)
                            {
                                <tr>
                                    <td>
                                        <div class="btn-group">
                                            <a class="" data-bs-toggle="dropdown" aria-expanded="true"><i class="mdi mdi-menu" style=" font-size: 25px;cursor:pointer;"></i></a>
                                            <div class="dropdown-menu" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 46px);cursor: pointer;text-align:right;">
                                                <a class="dropdown-item" onclick="DeleteAccount('@Url.Action("DeleteAccountLog","Admin",new {area="App",id=item.log_ID})')">حذف</a>
                                            </div>
                                        </div>
                                    </td>
                                    <td>@item.tbLinkUserAndPlans.tbPlans.Plan_Name</td>
                                    <td>@item.SalePrice.Value.ConvertToMony()</td>
                                    <td>
                                        @if (item.Action == "کاربر اضافه کرد")
                                        {
                                            <label class="badge badge-info text-dark">جدید</label>
                                        }
                                        else
                                        {
                                            <label class="badge badge-success text-dark">تمدید</label>
                                        }

                                    </td>
                                    <td>@Utility.ConvertDateTimeToShamsi2(item.CreateDatetime.Value)</td>
                                    <td>@item.FK_NameUser_ID</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>






@section scripts {

    <script>

        $(function () {

            ConvertToDataTable("#AccountLogTable", 0, [{ width: 2, targets: 4 }]);

        });



        function DeleteAccount(Url) {

            Swal.fire({
                title: "آیا مطمئن هستید می خواهید اشتراک را پاک کنید ؟",
                showDenyButton: true,
                showCancelButton: false,
                confirmButtonText: "بله",
                denyButtonText: `خیر`
            }).then((result) => {

                if (result.isConfirmed) {

                    $("#loading").css("display", "flex");
                    $.ajax({
                        url: Url,
                        dataType: "html",
                        type: "get",
                        success: function (res) {
                            $("#loading").css("display", "none");
                            Swal.fire("اشتراک با موفقیت حذف شد", "", "success").then(function () {
                                location.reload();
                            });

                        }
                    });

                }
            });

        }

    </script>
}

