@model List<DataLayer.DomainModel.tbLogs>

@using V2boardApi.Tools;

<h4 class="card-title">تاریخچه ساخت کاربر - @ViewBag.Name</h4>
<table id="AccountLogTable" class="table" style="width:100%;direction:ltr">
    <thead>
        <tr>
            <th>منو</th>
            <th>تعرفه</th>
            <th>نام اشتراک</th>
            <th>رویداد</th>
            <th>تاریخ ایجاد</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="btn-group">
                        <a class="" data-bs-toggle="dropdown" aria-expanded="true"><i class="mdi mdi-menu" style=" font-size: 25px;cursor:pointer;"></i></a>
                        <div class="dropdown-menu" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate(0px, 46px);cursor: pointer;text-align:right;">
                            <a class="dropdown-item" onclick="DeleteAccount('@Url.Action("DeleteAccountLog","Admin",new {area="App",id=item.log_ID})')">حذف</a>
                        </div>
                    </div>
                </td>
                <td>@item.tbLinkUserAndPlans.tbPlans.Plan_Name</td>
                <td>@item.FK_NameUser_ID</td>
                <td>
                    @if (item.Action == "کاربر اضافه کرد")
                    {
                        <label class="badge badge-info">جدید</label>
                    }
                    else
                    {
                        <label class="badge badge-success">تمدید</label>
                    }

                </td>
                <td>@Utility.ConvertDateTimeToShamsi2(item.CreateDatetime.Value)</td>
            </tr>
        }
    </tbody>
</table>



<script>
    ConvertToDataTable("#AccountLogTable", 0, [{ width: 2, targets: 4 }]);

    function DeleteAccount(Url) {

        Swal.fire({
            title: "آیا مطمئن هستید می خواهید اشتراک را پاک کنید ؟",
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: "بله",
            denyButtonText: `خیر`
        }).then((result) => {

            if (result.isConfirmed) {

                $("#loading").css("display", "flex");
                $.ajax({
                    url: Url,
                    dataType: "html",
                    type: "get",
                    success: function (res) {
                        $("#loading").css("display", "none");
                        Swal.fire("اشتراک با موفقیت حذف شذ", "", "success").then(function () {
                            $("#PartialUsers").html(res);
                            new DataTable('#TableUser', {
                                order: [[0, 'desc']]
                            });
                        });

                    }
                });

            }
        });

    }

</script>

