@model IEnumerable<DataLayer.DomainModel.tbUsers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/App/Views/Shared/_Layout.cshtml";

}


@using V2boardApi.Tools;

<button style="float:right;" class="btn btn-info" id="UpdatePlan">
    آپدیت پلن ها
</button>
<p>
    @Html.ActionLink("ایجاد کاربر جدید", "Create",new {Area="App"})
</p>
<table class="table" dir="rtl">
    <tr>
        <th>
            نام کاربری
        </th>
        <th>
            رمز عبور
        </th>
        <th>
            نام
        </th>
        <th>
            نام خانوادگی
        </th>
        <th>
            وضعیت
        </th>
        <th>
            ایمیل
        </th>
        <th>
            محدودیت خرید
        </th>
        <th>
            کیف پول
        </th>
        <th>
            عملیات
        </th>
    </tr>

    @foreach (var item in Model)
    {

        if (item.Wallet.Value >= item.Limit.Value)
        {
            <tr style="color:red;">
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @if (item.Status.Value)
                    {
                        <span class="text text-green-500">فعال</span>
                    }
                    else
                    {
                        <span class="text text-green-500">غیرفعال</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.Limit != null)
                    {
                        <span>@item.Limit.Value.ConvertToMony()</span>
                    }
                </td>
                <td>
                    @if (item.Wallet != null)
                    {
                        <span>@item.Wallet.Value.ConvertToMony()</span>
                    }

                </td>
                <td>
                    @Html.ActionLink("ویرایش", "Edit", new { id = item.User_ID }, new { Area = "App" })
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @if (item.Status.Value)
                    {
                        <span class="text text-green-500">فعال</span>
                    }
                    else
                    {
                        <span class="text text-green-500">غیرفعال</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.Limit != null)
                    {
                        <span>@item.Limit.Value.ConvertToMony()</span>
                    }
                </td>
                <td>
                    @if (item.Wallet != null)
                    {
                        <span>@item.Wallet.Value.ConvertToMony()</span>
                    }

                </td>
                <td>
                    @Html.ActionLink("ویرایش", "Edit", new { id = item.User_ID }, new { Area = "App" })
                </td>
            </tr>
        }


    }

</table>

@section scripts {


    <script>


        $("#UpdatePlan").click(function () {
            $.ajax({
                beforeSend: function () {
                    alert("پلن ها در حال آپدیت لطفا کمی صبر کنید ...")
                },
                url: "@Url.Action("UpdatePlans","Server",new {area=""})",
                dataType: "json",
                type: "get",
                success: function (res) {
                    if (res.status) {
                        alert(res.result);
                    }
                    else {
                        alert(res.result);
                    }
                }
            });
        });

    </script>


}