@section vendorStyle {
    <link rel="stylesheet" href="../../assets/vendor/libs/datatables-bs5/datatables.bootstrap5.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/datatables-responsive-bs5/responsive.bootstrap5.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/datatables-buttons-bs5/buttons.bootstrap5.css" />
    <link rel="stylesheet" href="../../assets/vendor/libs/select2/select2.css" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor/libs/@form-validation/form-validation.css")" />
    <link rel="stylesheet" href="../../assets/vendor/libs/sweetalert2/sweetalert2.css" />
}

@*<div class="row g-4 mb-4">
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>مجموع کاربران</span>
                            <div class="d-flex align-items-center my-2">
                                <h3 class="mb-0 me-2">21,459</h3>
                                <p class="text-success mb-0">
                                    <bdi>(+29%)</bdi>
                                </p>
                            </div>
                            <p class="mb-0">آمار هفته قبل</p>
                        </div>
                        <div class="avatar"> <span class="avatar-initial rounded bg-label-primary"> <i class="ti ti-user ti-sm"></i> </span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>کاربران وفادار</span>
                            <div class="d-flex align-items-center my-2">
                                <h3 class="mb-0 me-2">4,567</h3>
                                <p class="text-success mb-0">
                                    <bdi>(+18%)</bdi>
                                </p>
                            </div>
                            <p class="mb-0">آمار هفته قبل</p>
                        </div>
                        <div class="avatar"> <span class="avatar-initial rounded bg-label-danger"> <i class="ti ti-user-plus ti-sm"></i> </span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>کاربران فعال</span>
                            <div class="d-flex align-items-center my-2">
                                <h3 class="mb-0 me-2">19,860</h3>
                                <p class="text-danger mb-0">
                                    <bdi>(-14%)</bdi>
                                </p>
                            </div>
                            <p class="mb-0">آمار هفته قبل</p>
                        </div>
                        <div class="avatar"> <span class="avatar-initial rounded bg-label-success"> <i class="ti ti-user-check ti-sm"></i> </span> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-start justify-content-between">
                        <div class="content-left">
                            <span>کاربران مسدود</span>
                            <div class="d-flex align-items-center my-2">
                                <h3 class="mb-0 me-2">237</h3>
                                <p class="text-success mb-0">
                                    <bdi>(+42%)</bdi>
                                </p>
                            </div>
                            <p class="mb-0">آمار هفته قبل</p>
                        </div>
                        <div class="avatar"> <span class="avatar-initial rounded bg-label-warning"> <i class="ti ti-user-exclamation ti-sm"></i> </span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
<!-- Users List Table -->
<div class="card">
    @*<div class="card-header border-bottom">
            <h5 class="card-title mb-3">فیلتر جستجو</h5>
            <div class="d-flex justify-content-between align-items-center row pb-2 gap-3 gap-md-0 mt-3">
                <div class="col-md-4 user_role"></div>
                <div class="col-md-4 user_plan"></div>
                <div class="col-md-4 user_status"></div>
            </div>
        </div>*@
    <div class="card-datatable table-responsive">
        <table class="datatables-users table">
            <thead class="border-top">
                <tr>
                    <th></th>
                    <th>نام کاربری</th>
                    <th>بدهی</th>
                    <th>محدودیت</th>
                    <th>وضعیت</th>
                    <th>تعداد فروش</th>
                    <th>مجموع فروش</th>
                    <th>عملیات</th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- Offcanvas to add new user -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasAddUser" aria-labelledby="offcanvasAddUserLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasAddUserLabel" class="offcanvas-title">اطلاعات کاربر</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="بستن"></button>
        </div>
        <div class="offcanvas-body mx-0 flex-grow-0 pt-0 h-100">
            <form class="add-new-user pt-0" id="addNewUserForm">
                @Html.AntiForgeryToken()

                <input type="hidden" value="0" name="userId" />
                <div class="mb-3">
                    <label class="form-label" for="add-user-company">نام کاربری <span class="text-danger"> * </span></label>
                    <input type="text" id="add-user-username" class="form-control" placeholder="" aria-label=""
                           name="userUsername" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="add-user-contact">محدودیت<span class="text-danger"> * </span></label>
                    <input type="text" id="userLimit" class="form-control" placeholder=""
                           aria-label="3,000,000 تومان" name="userLimit" onkeyup="separateDigits(this)" />
                </div>
                @*<div class="mb-3">
                        <label class="form-label" for="userPlan">تعرفه<span class="text-danger"> * </span></label>
                        <select id="userPlan" class="select2 form-select" multiple autocomplete="off" name="userPlan">
                            <option value="">انتخاب کنید</option>
                        </select>
                        <div id="userPlanMessage" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback d-none"><div data-field="userLimit" data-validator="notEmpty">تعرفه را وارد کنید</div></div>

                    </div>*@

                <div class="mb-3">
                    <label class="form-label" for="add-user-fullname">رمز عبور<span class="text-danger"> * </span></label>
                    <input type="text" class="form-control" id="add-user-password" placeholder="" name="userPassword"
                           aria-label="******" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="add-user-fullname">نام و نام خانوادگی</label>
                    <input type="text" class="form-control" id="add-user-fullname" placeholder="" name="userFullname"
                           aria-label="نـوید" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="add-user-email">ایمیل</label>
                    <input type="text" id="add-user-email" class="form-control" placeholder="" aria-label=""
                           name="userEmail" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="add-user-contact">شماره موبایل</label>
                    <input type="text" id="add-user-contact" class="form-control phone-mask bdi" placeholder=""
                           aria-label="john.doe@example.com" name="userContact" />
                </div>
                <div class="mb-3">
                    <label class="form-label" for="add-user-telegramid">آیدی تلگرام</label>
                    <input type="text" id="add-user-telegramid" class="form-control" placeholder="" aria-label=""
                           name="userTelegramid" />
                </div>

                <button type="submit" class="btn btn-primary me-sm-3 me-1 data-submit">ارسال</button>
                <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="offcanvas">لغو</button>
            </form>
        </div>
    </div>
</div>

<!-- Add New Credit Card Modal -->
<div aria-hidden="true" class="modal fade" id="addNewPlan" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered1 modal-simple section-block">
        <div class="modal-content p-3 p-md-5">
            <div class="modal-body">
                <button aria-label="بستن" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                <div class="text-center mb-4">
                    <h3 class="mb-2">افزودن تعرفه</h3>
                    <p class="text-muted">تعرفه را برای ادامه و خرید خدمات انتخاب کنید</p>
                </div>
                <form class="row g-3" id="addNewPlanForm">
                    @Html.AntiForgeryToken()
                    <input type="hidden" value="" id="user_id" name="user_id" />
                    <div class="col-12 col-md-12">
                        <label class="form-label" for="userPlan">تعرفه <span class="text-danger"> * </span></label>
                        <select id="userPlan" class="select2 form-select" autocomplete="off" name="userPlan" multiple>
                            <option value="-1">در حال بارگزاری ...</option>
                        </select>
                        <div id="userPlanMessage" class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback d-none"><div data-field="userLimit" data-validator="notEmpty">تعرفه را انتخاب کنید</div></div>
                    </div>

                    <div class="col-12 text-center">
                        <button class="btn btn-primary me-sm-3 me-1" type="submit">ثبت</button>
                        <button aria-label="" class="btn btn-label-secondary btn-reset" data-bs-dismiss="modal" type="reset">بازگشت</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--/ Add New Credit Card Modal -->


@section vendorScripts {

    <script src="../../assets/vendor/libs/moment/moment.js"></script>
    <script src="../../assets/vendor/libs/datatables-bs5/datatables-bootstrap5.js"></script>
    <script src="../../assets/vendor/libs/select2/select2.js"></script>
    <script src="@Url.Content("~/assets/vendor/libs/@form-validation/popular.js")"></script>
    <script src="@Url.Content("~/assets/vendor/libs/@form-validation/bootstrap5.js")"></script>
    <script src="@Url.Content("~/assets/vendor/libs/@form-validation/auto-focus.js")"></script>
    <script src="../../assets/vendor/libs/sweetalert2/sweetalert2.js"></script>
    <script src="../../assets/vendor/libs/cleavejs/cleave.js"></script>
    <script src="../../assets/vendor/libs/cleavejs/cleave-phone.js"></script>
    <script src="../../assets/vendor/libs/block-ui/block-ui.js"></script>

}

@section customScripts {

    <script src="../../assets/js/app-user-list.js"></script>
    <script src="~/assets/vendor/libs/jquery-form/jquery.form.js"></script>

    <script>

        // اضافه کردن یک event listener برای رویداد hidden.bs.offcanvas
        var offcanvasElement = document.getElementById('offcanvasAddUser');
        offcanvasElement.addEventListener('hidden.bs.offcanvas', function () {
            console.log('Offcanvas has been closed.');
            // اینجا تابع مورد نظر خود را فراخوانی کنید
            document.getElementById('addNewUserForm').reset();

            $("input[type='hidden']").val("0");


        });




    </script>
}