@model IEnumerable<DataLayer.DomainModel.tbUsers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/App/Views/Shared/_Layout.cshtml";

}



<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body table-responsive">
                <button class="btn btn-outline-success btn-sm" id="addUser" style="margin-bottom:10px;float:left;">تعریف کاربر</button>
                <div id="PartialUsers">
                    @Html.Action("_PartialGetAllUsers", "Admin", new { area = "App" })
                </div>
            </div>
        </div>
    </div>
</div>



@*@section scripts {


        <script>


            $("#UpdatePlan").click(function () {
                $.ajax({
                    beforeSend: function () {
                        alert("پلن ها در حال آپدیت لطفا کمی صبر کنید ...")
                    },
                    url: "@Url.Action("UpdatePlans","Server",new {area=""})",
                    dataType: "json",
                    type: "get",
                    success: function (res) {
                        if (res.status) {
                            alert(res.result);
                        }
                        else {
                            alert(res.result);
                        }
                    }
                });
            });

        </script>


    }*@

@section scripts {

    <script>

        ConvertToDataTable("#tblUser", 0, [{ width: 2, targets: 4 }]);


        $("#addUser").click(function () {
            $("#loading").css("display", "flex");
            $.ajax({
                url: "@Url.Action("_PartialCreate","Admin",new {area="App"})",
                type: "get",
                dataType: "html",
                success: function (result) {
                    $("#loading").css("display", "none");
                    $("#modal-dialog-lg").html(result);
                    $('#modal-lg').modal('show');
                }
            });
        });

        function EditUser(input) {
            $("#loading").css("display", "flex");
            var id = $(input).attr("id").split("_")[1];
            $.ajax({
                url: "@Url.Action("_PartialEdit", "Admin", new { area = "App" })",
                type: "get",
                data: { id: id },
                dataType: "html",
                success: function (result) {
                    $("#loading").css("display", "none");
                    $("#modal-dialog-lg").html(result);
                    $('#modal-lg').modal('show');
                }
            });
        }


        function EditWallet(input) {
            $("#loading").css("display", "flex");
            var id = $(input).attr("id").split("_")[1];
            $.ajax({
                url: "@Url.Action("_EditWallet", "Admin", new { area = "App" })",
                type: "get",
                data: { id: id },
                dataType: "html",
                success: function (result) {
                    $("#loading").css("display", "none");
                    $("#modal-dialog-sm").html(result);
                    $('#modal-sm').modal('show');
                }
            });
        }


        $("#SearchUsername").change(function () {
            var username = $(this).val();
            $("#loading").css("display", "flex");
            $.ajax({
                url: "@Url.Action("_PartialGetAllUsers", "Admin", new { area = "App" })",
                dataType: "html",
                data: { username: username },
                type: "get",
                success: function (res) {
                    $("#loading").css("display", "none");
                    $("#PartialUsers").html(res);
                    new DataTable('#TableUser', {
                        order: [[0, 'desc']]
                    });
                }
            });
        });


        function BanUser(id) {
            $("#loading").css("display", "flex");
            $.ajax({
                url: "@Url.Action("BanUser", "Admin", new { area = "App" })",
                dataType: "html",
                data: { id: id },
                type: "get",
                success: function (res) {

                    if (res == "1") {
                        location.reload();
                    }

                }
            });
        }


        function Factors(id) {
            $("#loading").css("display", "flex");
            $.ajax({
                url: "@Url.Action("Factors", "Admin", new { area = "App" })",
                type: "get",
                data: { id: id },
                dataType: "html",
                success: function (result) {
                    $("#loading").css("display", "none");
                    $("#PartialUsers").html(result);
                    new DataTable('#TableUser', {
                        order: [[0, 'desc']]
                    });
                }
            });
        }


        function ShowAccountLog(Url) {
            $("#loading").css("display", "flex");
            $.ajax({
                url: Url,
                type: "get",
                dataType: "html",
                success: function (result) {
                    $("#loading").css("display", "none");
                    $("#PartialUsers").html(result);
                    new DataTable('#TableUser', {
                        order: [[0, 'desc']]
                    });
                }
            });
        }

    </script>

}