@model IEnumerable<DataLayer.DomainModel.tbUsers>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/App/Views/Shared/_Layout.cshtml";

}



<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body table-responsive">
                <button class="btn btn-success btn-sm text-dark" id="addUser" style="margin-bottom:10px;float:left;">تعریف کاربر</button>
                <button class="btn btn-info btn-sm text-dark" onclick="RunBots()" style="margin-bottom:10px;margin-left:10px; float:left;">اجرا تمامی ربات ها</button>
                <div id="PartialUsers">
                    @Html.Action("_PartialGetAllUsers", "Admin", new { area = "App" })
                </div>
            </div>
        </div>
    </div>
</div>



@*@section scripts {


        <script>


            $("#UpdatePlan").click(function () {
                $.ajax({
                    beforeSend: function () {
                        alert("پلن ها در حال آپدیت لطفا کمی صبر کنید ...")
                    },
                    url: "@Url.Action("UpdatePlans","Server",new {area=""})",
                    dataType: "json",
                    type: "get",
                    success: function (res) {
                        if (res.status) {
                            alert(res.result);
                        }
                        else {
                            alert(res.result);
                        }
                    }
                });
            });

        </script>


    }*@

@section scripts {

    <script>


        new DataTable("#tblUser", {
            columnDefs: [{ width: 2, targets: 4 }],
            paging: true,
            scrollCollapse: false,
            scrollX: true,
            scrollY: "600px",
            pageLength: 13,
            bFilter: true,
            lengthChange: false,
            searchPlaceholder: "جستجو ",
            sSearch: "Quick Search:",
            ordering: false, // اضافه کردن این خط برای غیرفعال کردن مرتب‌سازی
            language: {
                lengthMenu: "Display _MENU_ records per page",
                zeroRecords: "اطلاعاتی یافت نشد",
                info: "",
                infoEmpty: "اطلاعاتی وجود ندارد",
                infoFiltered: "(filtered from _MAX_ total records)",
                sSearch: "جستجو : ",
                paginate: {
                    previous: "قبلی",
                    next: "بعدی"
                }
            }
        });



        $("#addUser").click(function () {
            $("#loading").css("display", "flex");
            $.ajax({
                url: "@Url.Action("_PartialCreate","Admin",new {area="App"})",
                type: "get",
                dataType: "html",
                success: function (result) {
                    $("#loading").css("display", "none");
                    $("#modal-dialog-lg").html(result);
                    $('#modal-lg').modal('show');
                }
            });
        });

        function EditUser(input) {
            $("#loading").css("display", "flex");
            var id = $(input).attr("id").split("_")[1];
            $.ajax({
                url: "@Url.Action("_PartialEdit", "Admin", new { area = "App" })",
                type: "get",
                data: { id: id },
                dataType: "html",
                success: function (result) {
                    $("#loading").css("display", "none");
                    $("#modal-dialog-lg").html(result);
                    $('#modal-lg').modal('show');
                }
            });
        }


        function EditWallet(input) {
            $("#loading").css("display", "flex");
            var id = $(input).attr("id").split("_")[1];
            $.ajax({
                url: "@Url.Action("_EditWallet", "Admin", new { area = "App" })",
                type: "get",
                data: { id: id },
                dataType: "html",
                success: function (result) {
                    $("#loading").css("display", "none");
                    $("#modal-dialog-sm").html(result);
                    $('#modal-sm').modal('show');
                }
            });
        }


        $("#SearchUsername").change(function () {
            var username = $(this).val();
            $("#loading").css("display", "flex");
            $.ajax({
                url: "@Url.Action("_PartialGetAllUsers", "Admin", new { area = "App" })",
                dataType: "html",
                data: { username: username },
                type: "get",
                success: function (res) {
                    $("#loading").css("display", "none");
                    $("#PartialUsers").html(res);
                    new DataTable('#TableUser', {
                        order: [[0, 'desc']]
                    });
                }
            });
        });


        function BanUser(id) {
            $("#loading").css("display", "flex");
            $.ajax({
                url: "@Url.Action("BanUser", "Admin", new { area = "App" })",
                dataType: "html",
                data: { id: id },
                type: "get",
                success: function (res) {

                    if (res == "1") {
                        location.reload();
                    }

                }
            });
        }


        function Factors(id) {
            $("#loading").css("display", "flex");
            $.ajax({
                url: "@Url.Action("Factors", "Admin", new { area = "App" })",
                type: "get",
                data: { id: id },
                dataType: "html",
                success: function (result) {
                    $("#loading").css("display", "none");
                    $("#PartialUsers").html(result);
                    new DataTable('#TableUser', {
                        order: [[0, 'desc']]
                    });
                }
            });
        }


        function RunBot(id)
        {
            $("#loading").css("display", "flex");
            $.ajax({
                url: "@Url.Action("StartBot","Admin")?userId=" + id,
                type: "get",
                dataType: "html",
                success: function (res) {
                    $("#loading").css("display", "none");


                    var spl = res.split('-');

                    Swal.fire({
                        title: "پیغام",
                        text: spl[1],
                        icon: spl[0]
                    });
                }
            });
        }


        //function ShowAccountLog(Url) {
        //    $("#loading").css("display", "flex");
        //    $.ajax({
        //        url: Url,
        //        type: "get",
        //        dataType: "html",
        //        success: function (result) {
        //            $("#loading").css("display", "none");
        //            $("#PartialUsers").html(result);
        //            new DataTable('#TableUser', {
        //                order: [[0, 'desc']]
        //            });
        //        }
        //    });
        //}


        function RunBots() {
            $("#loading").css("display", "flex");
            $.ajax({
                url: "@Url.Action("StartBots","Admin")" ,
                type: "get",
                dataType: "html",
                success: function (res) {
                    $("#loading").css("display", "none");


                    var spl = res.split('-');

                    Swal.fire({
                        title: "پیغام",
                        text: spl[1],
                        icon: spl[0]
                    });
                }
            });
        }

    </script>

}