@{
    Layout = null;
}

@model DataLayer.DomainModel.tbUsers
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ADMIN PANEL</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/Areas/App/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/Areas/App/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/Areas/App/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/Areas/App/assets/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo" style="text-align: center; font-size: 25px;">
                                <span>پرداخت صورتحساب</span>
                            </div>
                            <form class="pt-3" action="@Url.Action("Pay", "Admin", new { area = "App" })" method="post">
                                <input type="hidden" name="tbUser.token" value="@Model.Token" />
                                <div class="form-group" style="direction:rtl;">
                                    @{var wallet = ViewBag.wallet;}
                                    <input type="text" class="form-control form-control-lg" disabled value="@V2boardApi.Tools.Utility.ConvertToMony(wallet) ریال" placeholder="مبلغ">
                                    <input type="hidden" class="form-control form-control-lg" id="tbUser.Wallet" name="tbUser.Wallet" value="@wallet" placeholder="مبلغ">

                                </div>
                                <div class="my-2 d-flex justify-content-between align-items-center" style="direction:rtl;">
                                    شماره کارت : @ViewBag.CardNumber
                                    <br />
                                    به نام : @ViewBag.FullName
                                    <br />
                                    <br />
                                    لطفا مبلغ را دقیق را به شماره کارت ذکر شده واریز کنید و سپس روی گزینه واریز کرده ام بزنید
                                </div>
                                <br />
                                @if (TempData["MessageSuccess"] != null)
                                {
                                    <div class="my-2 d-flex justify-content-between align-items-center" style="direction:rtl;">
                                        <span class="text-2xl text-success">@TempData["MessageSuccess"]</span>
                                    </div>
                                }
                                else if (TempData["MessageWarning"] != null)
                                {
                                    <div class="my-2 d-flex justify-content-between align-items-center" style="direction:rtl;">
                                        <span class="text-2xl text-warning">@TempData["MessageWarning"]</span>
                                    </div>
                                }
                                else if (TempData["MessageError"] != null)
                                {
                                    <div class="my-2 d-flex justify-content-between align-items-center" style="direction:rtl;">
                                        <span class="text-2xl text-danger">@TempData["MessageError"]</span>
                                    </div>
                                }
                                <div class="my-2 d-flex justify-content-between align-items-center" style="direction:rtl;">
                                    @if (TempData["Error"] != null)
                                    {
                                        <span class="text-2xl text-danger">@TempData["Error"]</span>
                                    }
                                </div>
                                <div class="mt-3">
                                    <button class="btn btn-gradient-success btn-fw" type="submit">واریز کردم</button>
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Areas/App/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/Areas/App/assets/js/off-canvas.js"></script>
    <script src="~/Areas/App/assets/js/hoverable-collapse.js"></script>
    <script src="~/Areas/App/assets/js/misc.js"></script>
    <!-- endinject -->
</body>
</html>