@model V2boardApi.Areas.App.Data.DashboardViewModel
@using V2boardApi.Tools;
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
            <i class="mdi mdi-home"></i>
        </span> Dashboard
    </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-danger card-img-holder text-white">
            <div class="card-body">
                <img src="~/Areas/App/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    weekly Sales From Major  <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                </h4>
                @{
                    var SaleM = Model.SaleFromMajor / 10;
                    var SaleMToday = Model.SaleFromMajorToday / 10;
                }
                <h2 class="mb-5">@SaleM.ConvertToMony()</h2>

                <h6 class="">for today : @SaleMToday.ConvertToMony()</h6>
                @if (Math.Round(Model.InterestRatesFromMajor, 2) > 0)
                {
                    <h6 class="badge badge-gradient-success">@Math.Round(Model.InterestRatesFromMajor, 2)%</h6>
                }
                else
                {
                    <h6 class="badge badge-gradient-danger">@Math.Round(Model.InterestRatesFromMajor, 2)%</h6>
                }

            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-info card-img-holder text-white">
            <div class="card-body">
                <img src="~/Areas/App/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    weekly Sales From Bot <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                </h4>

                @{
                    var SaleB = Model.SaleFromBot / 10;
                    var SaleBToday = Model.SaleFromBotToday / 10;
                }

                <h2 class="mb-5">@SaleB.ConvertToMony()</h2>
                <h6 class="">for today : @SaleBToday.ConvertToMony()</h6>
                @if (@Math.Round(Model.InterestRatesFromBot, 2) > 0)
                {
                    <h6 class="badge badge-gradient-success">@Math.Round(Model.InterestRatesFromBot, 2)%</h6>
                }
                else
                {
                    <h6 class="badge badge-gradient-danger">@Math.Round(Model.InterestRatesFromBot, 2)%</h6>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4 stretch-card grid-margin">
        <div class="card bg-gradient-success card-img-holder text-white">
            <div class="card-body">
                <img src="~/Areas/App/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
                <h4 class="font-weight-normal mb-3">
                    Major | Bot <i class="mdi mdi-diamond mdi-24px float-right"></i>
                </h4>
                <h2 class="mb-5">@Model.CountUserFromMajor | @Model.CountUserFromBot</h2>
                <h6 class="card-text">@Math.Round(Model.InterestUserRatesFromMajor, 2)% | @Math.Round(Model.InterestUserRatesBot, 2)%</h6>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-7 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="clearfix">
                    <h4 class="card-title float-left">Sales Statistics</h4>
                    <div id="visit-sale-chart-legend" class="rounded-legend legend-horizontal legend-top-right float-right"></div>
                </div>
                <canvas id="visit-sale-chart" class="mt-4"></canvas>
            </div>
        </div>
    </div>
    <div class="col-md-5 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Users Sources</h4>
                <canvas id="traffic-chart"></canvas>
                <div id="traffic-chart-legend" class="rounded-legend legend-vertical legend-bottom-left pt-4"></div>
            </div>
        </div>
    </div>
</div>

@section scripts {

    <script>


    (function ($) {
        'use strict';
        $(function () {

            Chart.defaults.global.legend.labels.usePointStyle = true;

            if ($("#serviceSaleProgress").length) {
                var bar = new ProgressBar.Circle(serviceSaleProgress, {
                    color: 'url(#gradient)',
                    // This has to be the same size as the maximum width to
                    // prevent clipping
                    strokeWidth: 8,
                    trailWidth: 8,
                    easing: 'easeInOut',
                    duration: 1400,
                    text: {
                        autoStyleContainer: false
                    },
                    from: { color: '#aaa', width: 6 },
                    to: { color: '#57c7d4', width: 6 }
                });

                bar.animate(.65);  // Number from 0.0 to 1.0
                bar.path.style.strokeLinecap = 'round';
                let linearGradient = '<defs><linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="userSpaceOnUse"><stop offset="20%" stop-color="#da8cff"/><stop offset="50%" stop-color="#9a55ff"/></linearGradient></defs>';
                bar.svg.insertAdjacentHTML('afterBegin', linearGradient);
            }
            if ($("#productSaleProgress").length) {
                var bar = new ProgressBar.Circle(productSaleProgress, {
                    color: 'url(#productGradient)',
                    // This has to be the same size as the maximum width to
                    // prevent clipping
                    strokeWidth: 8,
                    trailWidth: 8,
                    easing: 'easeInOut',
                    duration: 1400,
                    text: {
                        autoStyleContainer: false
                    },
                    from: { color: '#aaa', width: 6 },
                    to: { color: '#57c7d4', width: 6 }
                });

                bar.animate(.6);  // Number from 0.0 to 1.0
                bar.path.style.strokeLinecap = 'round';
                let linearGradient = '<defs><linearGradient id="productGradient" x1="0%" y1="0%" x2="100%" y2="0%" gradientUnits="userSpaceOnUse"><stop offset="40%" stop-color="#36d7e8"/><stop offset="70%" stop-color="#b194fa"/></linearGradient></defs>';
                bar.svg.insertAdjacentHTML('afterBegin', linearGradient);
            }
            if ($("#points-chart").length) {
                var ctx = document.getElementById('points-chart').getContext("2d");

                var gradientStrokeViolet = ctx.createLinearGradient(0, 0, 0, 181);
                gradientStrokeViolet.addColorStop(0, 'rgba(218, 140, 255, 1)');
                gradientStrokeViolet.addColorStop(1, 'rgba(154, 85, 255, 1)');

                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [1, 2, 3, 4, 5, 6, 7, 8],
                        datasets: [
                            {
                                label: "North Zone",
                                borderColor: gradientStrokeViolet,
                                backgroundColor: gradientStrokeViolet,
                                hoverBackgroundColor: gradientStrokeViolet,
                                pointRadius: 0,
                                fill: false,
                                borderWidth: 1,
                                fill: 'origin',
                                data: [20, 40, 15, 35, 25, 50, 30, 20]
                            }
                        ]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    display: false,
                                    min: 0,
                                    stepSize: 10
                                },
                                gridLines: {
                                    drawBorder: false,
                                    display: false
                                }
                            }],
                            xAxes: [{
                                gridLines: {
                                    display: false,
                                    drawBorder: false,
                                    color: 'rgba(0,0,0,1)',
                                    zeroLineColor: '#eeeeee'
                                },
                                ticks: {
                                    padding: 20,
                                    fontColor: "#9c9fa6",
                                    autoSkip: true,
                                },
                                barPercentage: 0.7
                            }]
                        }
                    },
                    elements: {
                        point: {
                            radius: 0
                        }
                    }
                })
            }
            if ($("#events-chart").length) {
                var ctx = document.getElementById('events-chart').getContext("2d");

                var gradientStrokeBlue = ctx.createLinearGradient(0, 0, 0, 181);
                gradientStrokeBlue.addColorStop(0, 'rgba(54, 215, 232, 1)');
                gradientStrokeBlue.addColorStop(1, 'rgba(177, 148, 250, 1)');

                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [1, 2, 3, 4, 5, 6, 7, 8],
                        datasets: [
                            {
                                label: "Domestic",
                                borderColor: gradientStrokeBlue,
                                backgroundColor: gradientStrokeBlue,
                                hoverBackgroundColor: gradientStrokeBlue,
                                pointRadius: 0,
                                fill: false,
                                borderWidth: 1,
                                fill: 'origin',
                                data: [20, 40, 15, 35, 25, 50, 30, 20]
                            },
                            {
                                label: "International",
                                borderColor: '#e9eaee',
                                backgroundColor: '#e9eaee',
                                hoverBackgroundColor: '#e9eaee',
                                pointRadius: 0,
                                fill: false,
                                borderWidth: 1,
                                fill: 'origin',
                                data: [40, 30, 20, 10, 50, 15, 35, 20]
                            }
                        ]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    display: false,
                                    min: 0,
                                    stepSize: 10
                                },
                                gridLines: {
                                    drawBorder: false,
                                    display: false
                                }
                            }],
                            xAxes: [{
                                gridLines: {
                                    display: false,
                                    drawBorder: false,
                                    color: 'rgba(0,0,0,1)',
                                    zeroLineColor: '#eeeeee'
                                },
                                ticks: {
                                    padding: 20,
                                    fontColor: "#9c9fa6",
                                    autoSkip: true,
                                },
                                barPercentage: 0.7
                            }]
                        }
                    },
                    elements: {
                        point: {
                            radius: 0
                        }
                    }
                })
            }
            if ($("#visit-sale-chart").length) {
                

                $.ajax({
                    url: "@Url.Action("CountAccountCreatedFromMajor","Dashboard",new {area="App"})",
                    type: "Get",
                    dataType: "json",
                    success: function (res) {
                        Chart.defaults.global.legend.labels.usePointStyle = true;
                        var ctx = document.getElementById('visit-sale-chart').getContext("2d");

                        var gradientStrokeViolet = ctx.createLinearGradient(0, 0, 0, 181);
                        gradientStrokeViolet.addColorStop(0, 'rgba(218, 140, 255, 1)');
                        gradientStrokeViolet.addColorStop(1, 'rgba(154, 85, 255, 1)');
                        var gradientLegendViolet = 'linear-gradient(to right, rgba(218, 140, 255, 1), rgba(154, 85, 255, 1))';

                        var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: res.Users,
                                datasets: [
                                    {
                                        label: "Count",
                                        borderColor: gradientStrokeViolet,
                                        backgroundColor: gradientStrokeViolet,
                                        hoverBackgroundColor: gradientStrokeViolet,
                                        legendColor: gradientLegendViolet,
                                        pointRadius: 0,
                                        fill: false,
                                        borderWidth: 1,
                                        fill: 'origin',
                                        data: res.Prices
                                    }
                                ]
                            },
                            options: {
                                responsive: true,
                                legend: false,
                                legendCallback: function (chart) {
                                    var text = [];
                                    text.push('<ul>');
                                    for (var i = 0; i < chart.data.datasets.length; i++) {
                                        text.push('<li><span class="legend-dots" style="background:' +
                                            chart.data.datasets[i].legendColor +
                                            '"></span>');
                                        if (chart.data.datasets[i].label) {
                                            text.push(chart.data.datasets[i].label);
                                        }
                                        text.push('</li>');
                                    }
                                    text.push('</ul>');
                                    return text.join('');
                                }
                            },
                            elements: {
                                point: {
                                    radius: 0
                                }
                            }
                        })
                        $("#visit-sale-chart-legend").html(myChart.generateLegend());
                    }
                });

                
            }
            if ($("#visit-sale-chart-dark").length) {
                Chart.defaults.global.legend.labels.usePointStyle = true;
                var ctx = document.getElementById('visit-sale-chart-dark').getContext("2d");

                var gradientStrokeViolet = ctx.createLinearGradient(0, 0, 0, 181);
                gradientStrokeViolet.addColorStop(0, 'rgba(218, 140, 255, 1)');
                gradientStrokeViolet.addColorStop(1, 'rgba(154, 85, 255, 1)');
                var gradientLegendViolet = 'linear-gradient(to right, rgba(218, 140, 255, 1), rgba(154, 85, 255, 1))';

                var gradientStrokeBlue = ctx.createLinearGradient(0, 0, 0, 360);
                gradientStrokeBlue.addColorStop(0, 'rgba(54, 215, 232, 1)');
                gradientStrokeBlue.addColorStop(1, 'rgba(177, 148, 250, 1)');
                var gradientLegendBlue = 'linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1))';

                var gradientStrokeRed = ctx.createLinearGradient(0, 0, 0, 300);
                gradientStrokeRed.addColorStop(0, 'rgba(255, 191, 150, 1)');
                gradientStrokeRed.addColorStop(1, 'rgba(254, 112, 150, 1)');
                var gradientLegendRed = 'linear-gradient(to right, rgba(255, 191, 150, 1), rgba(254, 112, 150, 1))';

                var myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG'],
                        datasets: [
                            {
                                label: "CHN",
                                borderColor: gradientStrokeViolet,
                                backgroundColor: gradientStrokeViolet,
                                hoverBackgroundColor: gradientStrokeViolet,
                                legendColor: gradientLegendViolet,
                                pointRadius: 0,
                                fill: false,
                                borderWidth: 1,
                                fill: 'origin',
                                data: [20, 40, 15, 35, 25, 50, 30, 20]
                            },
                            {
                                label: "USA",
                                borderColor: gradientStrokeRed,
                                backgroundColor: gradientStrokeRed,
                                hoverBackgroundColor: gradientStrokeRed,
                                legendColor: gradientLegendRed,
                                pointRadius: 0,
                                fill: false,
                                borderWidth: 1,
                                fill: 'origin',
                                data: [40, 30, 20, 10, 50, 15, 35, 40]
                            },
                            {
                                label: "UK",
                                borderColor: gradientStrokeBlue,
                                backgroundColor: gradientStrokeBlue,
                                hoverBackgroundColor: gradientStrokeBlue,
                                legendColor: gradientLegendBlue,
                                pointRadius: 0,
                                fill: false,
                                borderWidth: 1,
                                fill: 'origin',
                                data: [70, 10, 30, 40, 25, 50, 15, 30]
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        legend: false,
                        legendCallback: function (chart) {
                            var text = [];
                            text.push('<ul>');
                            for (var i = 0; i < chart.data.datasets.length; i++) {
                                text.push('<li><span class="legend-dots" style="background:' +
                                    chart.data.datasets[i].legendColor +
                                    '"></span>');
                                if (chart.data.datasets[i].label) {
                                    text.push(chart.data.datasets[i].label);
                                }
                                text.push('</li>');
                            }
                            text.push('</ul>');
                            return text.join('');
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    display: false,
                                    min: 0,
                                    stepSize: 20,
                                    max: 80
                                },
                                gridLines: {
                                    drawBorder: false,
                                    color: '#322f2f',
                                    zeroLineColor: '#322f2f'
                                }
                            }],
                            xAxes: [{
                                gridLines: {
                                    display: false,
                                    drawBorder: false,
                                    color: 'rgba(0,0,0,1)',
                                    zeroLineColor: 'rgba(235,237,242,1)'
                                },
                                ticks: {
                                    padding: 20,
                                    fontColor: "#9c9fa6",
                                    autoSkip: true,
                                },
                                categoryPercentage: 0.5,
                                barPercentage: 0.5
                            }]
                        }
                    },
                    elements: {
                        point: {
                            radius: 0
                        }
                    }
                })
                $("#visit-sale-chart-legend-dark").html(myChart.generateLegend());
            }
            if ($("#traffic-chart").length) {

                var ctx = document.getElementById('traffic-chart').getContext("2d");

                var gradientStrokeBlue = ctx.createLinearGradient(0, 0, 0, 181);
                gradientStrokeBlue.addColorStop(0, 'rgba(54, 215, 232, 1)');
                gradientStrokeBlue.addColorStop(1, 'rgba(177, 148, 250, 1)');
                var gradientLegendBlue = 'linear-gradient(to right, rgba(54, 215, 232, 1), rgba(177, 148, 250, 1))';

                var gradientStrokeRed = ctx.createLinearGradient(0, 0, 0, 50);
                gradientStrokeRed.addColorStop(0, 'rgba(255, 191, 150, 1)');
                gradientStrokeRed.addColorStop(1, 'rgba(254, 112, 150, 1)');
                var gradientLegendRed = 'linear-gradient(to right, rgba(255, 191, 150, 1), rgba(254, 112, 150, 1))';

                var gradientStrokeGreen = ctx.createLinearGradient(0, 0, 0, 300);
                gradientStrokeGreen.addColorStop(0, 'rgba(6, 185, 157, 1)');
                gradientStrokeGreen.addColorStop(1, 'rgba(132, 217, 210, 1)');
                var gradientLegendGreen = 'linear-gradient(to right, rgba(6, 185, 157, 1), rgba(132, 217, 210, 1))';

                var trafficChartData = {
                    datasets: [{
                        data: [@Model.CountUserFromMajor, @Model.CountUserFromBot],
                        backgroundColor: [
                            gradientStrokeBlue,
                            gradientStrokeGreen,
                            gradientStrokeRed
                        ],
                        hoverBackgroundColor: [
                            gradientStrokeBlue,
                            gradientStrokeGreen,
                            gradientStrokeRed
                        ],
                        borderColor: [
                            gradientStrokeBlue,
                            gradientStrokeGreen,
                            gradientStrokeRed
                        ],
                        legendColor: [
                            gradientLegendBlue,
                            gradientLegendGreen,
                            gradientLegendRed
                        ]
                    }],

                    // These labels appear in the legend and in the tooltips when hovering different arcs
                    labels: [
                        'Count Users From Major',
                        'Count Users From Bot',
                    ]
                };
                var trafficChartOptions = {
                    responsive: true,
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    },
                    legend: false,
                    legendCallback: function (chart) {
                        var text = [];
                        text.push('<ul>');
                        for (var i = 0; i < trafficChartData.datasets[0].data.length; i++) {
                            text.push('<li><span class="legend-dots" style="background:' +
                                trafficChartData.datasets[0].legendColor[i] +
                                '"></span>');
                            if (trafficChartData.labels[i]) {
                                text.push(trafficChartData.labels[i]);
                            }
                            text.push('<span class="float-right">' +" "+ trafficChartData.datasets[0].data[i] + '</span>')
                            text.push('</li>');
                        }
                        text.push('</ul>');
                        return text.join('');
                    }
                };
                var trafficChartCanvas = $("#traffic-chart").get(0).getContext("2d");
                var trafficChart = new Chart(trafficChartCanvas, {
                    type: 'doughnut',
                    data: trafficChartData,
                    options: trafficChartOptions
                });
                $("#traffic-chart-legend").html(trafficChart.generateLegend());
            }
            if ($("#inline-datepicker").length) {
                $('#inline-datepicker').datepicker({
                    enableOnReadonly: true,
                    todayHighlight: true,
                });
            }
        });
    })(jQuery);

    </script>


}