@model List<DataLayer.DomainModel.tbLinkUserAndPlans>

@using (Html.BeginForm("UpdateAccount", "client", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input name="Name" type="hidden" value="@ViewBag.Name" />
    <input name="id" type="hidden" value="@ViewBag.Id" />
    <div class="flex flex-col gap-y-4" id="boxTamdid" style="display:none;">
        <h2 class="font-bold text-white text-2xl mb-2" x-text="تمدید"></h2>
        <p class="text-lg font-normal mb-4 text-gray-300 lg:text-xl">لطفا مبلغ تعرفه مورد نظر را به شماره کارت @ViewBag.Card_Number به نام @ViewBag.FirstName @ViewBag.LastName واریز کنید سپس رسید واریزی را آپلود کنید</p>

        <div style="background: linear-gradient(90deg, rgba(255,115,0,0.742734593837535) 0%, rgba(255,179,0,0.6951155462184874) 100%);justify-content:right;"
             class="py-3 px-4 transition-all duration-200 inline-flex gap-x-3 justify-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br font-medium rounded-lg">

            <div style="width:100%;">
                <select class="select select-info" style="width:35%;" name="PlanID">
                    @foreach (var item in Model)
                    {
                        <option value="@item.tbPlans.Plan_ID">@item.tbPlans.Plan_Name</option>
                    }
                </select>

                <input type="button" class="btn btn-warning" value="انتخاب فایل رسید" onclick="OpenDialog()" />
                <input type="submit" class="btn btn-accent" value="ثبت" style="float:left" />
                <input type="file" name="ResidFile" style="width:113px;display:none" id="ResidFile" />


            </div>

        </div>

    </div>
}
<div class="flex flex-col gap-y-4" id="btnTamdid">
    <h2 class="font-bold text-white text-2xl mb-2" x-text="تمدید"></h2>
    <a onclick="ShowBox()" style="cursor:pointer;background: linear-gradient(90deg, rgba(255,115,0,0.742734593837535) 0%, rgba(255,179,0,0.6951155462184874) 100%);"
       class="py-3 px-4 transition-all duration-200 inline-flex gap-x-3 justify-center text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br font-medium rounded-lg">
        <span class="sm:text-lg">تمدید</span>
    </a>
</div>