@model List<DataLayer.DomainModel.tbBankCardNumbers>

<style>
    th {
        text-align: right !important;
    }
</style>


<div class="card">
    <div class="card-body">
        <h4 class="card-title">تنظیمات کارت</h4>
        <hr />
        <div id="EditBankPartial">
            <div class="row">
                <input type="hidden" id="Card_ID" value="0" />
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="exampleInputUsername1">شماره کارت <span class="text-danger">*</span></label>
                        <input type="number" dir="ltr" class="form-control form-control-sm" id="CardNumber" placeholder="6219" value="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="exampleInputUsername1"> به نام <span class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control-sm" id="NameOfCard" placeholder="رضا" value="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="exampleInputUsername1">شماره SMS <span class="text-danger">*</span></label>
                        <input type="text" dir="ltr" class="form-control form-control-sm" id="SmsNumberOfCard" placeholder="989965555,654656" value="">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="exampleInputUsername1">شماره همراه <span class="text-danger">*</span></label>
                        <input type="text" dir="ltr" class="form-control form-control-sm" id="phoneNumber" placeholder="09334325653" value="">
                    </div>
                </div>
            </div>
            <span class="text-info text-small">نکته : اگر بانک شما بیش از یک شماره SMS داشت با ( , ) شماره ها را جدا کنید</span>
            <span class="text-info text-small">شماره همراه را با +98 وارد کنید</span>
            <div class="row">
                <div class="col-md-12" style="margin-top:27px;">
                    <button type="button" onclick="SaveBankCards()" class="btn btn-success me-2 float-start">افزودن</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table" id="cards" style="width:100%;" dir="rtl">
                    <thead>
                        <tr>
                            <th>شماره کارت</th>
                            <th>به نام</th>
                            <th>شماره SMS</th>
                            <th>شماره همراه</th>
                            <th>وضعیت</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CardNumber</td>
                                <td>@item.InTheNameOf</td>
                                <td>@item.BankSmsNumber</td>
                                <td>@item.phoneNumber</td>
                                <td>
                                    @if (item.Active == true)
                                    {
                                        <label class="badge badge-success">فعال</label>
                                    }
                                    else
                                    {
                                        <label class="badge badge-danger">غیرفعال</label>
                                    }
                                </td>
                                <td>
                                    <a class="" data-bs-toggle="dropdown" aria-expanded="true"><i class="mdi mdi-menu" style=" font-size: 25px;cursor:pointer;"></i></a>
                                    <div class="dropdown-menu" data-popper-placement="bottom-start" style="cursor: pointer;text-align:right;">
                                        @if (item.Active != true)
                                        {
                                            <a class="dropdown-item" href="@Url.Action("DeactiveCard","Settings",new {area="App",id=item.CardNumber_ID})">فعال کردن</a>
                                        }
                                        <a class="dropdown-item" onclick="EditCard('@item.CardNumber_ID')" href="#">ویرایش</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

