@model DataLayer.DomainModel.tbBotSettings
@if (Model != null)
{
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">تنظیمات ربات</h4>
            <hr />
            <form class="forms-sample">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="exampleInputUsername1">آیدی ربات <span class="text-danger">*</span></label>
                            <input type="text" dir="ltr" class="form-control" id="BotId" placeholder="darkbaz_bot" value="@Model.Bot_ID">

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="exampleInputUsername1">توکن ربات <span class="text-danger">*</span></label>
                            <input type="text" dir="ltr" class="form-control" id="BotToken" placeholder="541546886:AAEGRExB-MCyT3N4DYU0545Rc3j458aAc" value="@Model.Bot_Token">
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="exampleInputEmail1">شناسه کاربری تلگرام ادمین <span class="text-danger">*</span></label>
                        <input type="number" dir="ltr" class="form-control" id="TelegramUserId" placeholder="65845695212" value="@Model.AdminBot_ID">
                        <span class="text-danger" style="font-size:11px;">
                            قبل از تنظیم کردن تنظیمات ربات حتما داخل ربات واژه start/ را بفرستید
                        </span>
                    </div>
                    <div class="form-group col-md-3">
                        <label for="exampleInputPassword1">آیدی کانال </label>
                        <input type="text" dir="ltr" class="form-control" id="ChannelId" placeholder="darkbaz_site" value="@Model.ChannelID">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="exampleInputEmail1">قیمت هر گیگ (ادمین)</label>
                        <br />
                        <span class="text-danger" style="font-size:11px;">
                            قیمت تنظیم شده که به ازای هر گیگ به بدهی شما اضافه می شود
                        </span>
                        <input disabled type="text" dir="ltr" id="PricePerGig_Admin" class="form-control" value="@Model.PricePerGig_Admin">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="exampleInputPassword1">قیمت هر ماه (ادمین)</label>
                        <br />
                        <span class="text-danger" style="font-size:11px;">
                            قیمت تنظیم شده که به ازای هر ماه به بدهی شما اضافه می شود
                        </span>
                        <input disabled type="text" dir="ltr" id="PricePerMonth_Admin" class="form-control" value="@Model.PricePerMonth_Admin">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="exampleInputEmail1">قیمت هر گیگ (شما) <span class="text-danger"> *</span></label>
                        <br />
                        <span class="text-info" style="font-size:11px;">
                            قیمتی که به ازای هر گیگ شما برای خریدار تنظیم می کنید
                        </span>
                        <input type="number" dir="ltr" class="form-control" id="PricePerGig_Major" placeholder="3000" value="@Model.PricePerGig_Major">
                    </div>
                    <div class="form-group col-md-3">
                        <label for="exampleInputPassword1">قیمت هر ماه (شما)<span class="text-danger"> *</span></label>
                        <br />
                        <span class="text-info" style="font-size:11px;">
                            قیمتی که به ازای هر ماه شما برای خریدار تنظیم می کنید
                        </span>
                        <input type="number" dir="ltr" class="form-control" id="PricePerMonth_Major" placeholder="25000" value="@Model.PricePerMonth_Major">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="exampleInputPassword1">تخفیف (درصد)<span class="text-danger"> *</span></label>
                        @if (Model.Present_Discount != null)
                        {
                            Model.Present_Discount = Model.Present_Discount * 100;
                            <input type="number" dir="ltr" class="form-control" id="Present_Discount" placeholder="15%" value="@Model.Present_Discount">
                        }
                        else
                        {
                            <input type="number" dir="ltr" class="form-control" id="Present_Discount" placeholder="15%" value="">
                        }
                    </div>
                    <span class="text-danger text-small">درصد تخفیف برای خریداران شما تنظیم می شود</span>
                </div>
                <div class="row">
                    <div class="form-group col-md-2">

                        <div class="form-check form-check-flat form-check-success" style="margin-top:41px;">
                            @if (Model.Active == true)
                            {
                                <label class="form-check-label">
                                    <input checked type="checkbox" class="form-check-input" id="Active" value="@Model.Active"> وضعیت ربات <i class="input-helper"></i>
                                </label>
                            }
                            else
                            {
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" id="Active" value="@Model.Active"> وضعیت ربات <i class="input-helper"></i>
                        </label>
                            }
                        </div>

                    </div>

                    <div class="form-group col-md-2">

                        <div class="form-check form-check-flat form-check-success" style="margin-top:41px;">
                            @if (Model.RequiredJoinChannel == true)
                            {
                                <label class="form-check-label">
                                    <input checked type="checkbox" class="form-check-input" id="RequiredJoinChannel" value="@Model.RequiredJoinChannel"> عضویت اجباری<i class="input-helper"></i>
                                </label>
                            }
                            else
                            {
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" id="RequiredJoinChannel" value="@Model.RequiredJoinChannel"> عضویت اجباری <i class="input-helper"></i>
                        </label>
                            }
                        </div>

                    </div>
                    <div class="form-group col-md-2">

                        <div class="form-check form-check-flat form-check-success" style="margin-top:41px;">
                            @if (Model.IsActiveSendReceipt == true)
                            {
                                <label class="form-check-label">
                                    <input checked type="checkbox" class="form-check-input" id="IsActiveSendReceipt" value="@Model.IsActiveSendReceipt"> ارسال رسید تراکنش<i class="input-helper"></i>
                                </label>
                            }
                            else
                            {
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" id="IsActiveSendReceipt" value="@Model.IsActiveSendReceipt"> ارسال رسید تراکنش <i class="input-helper"></i>
                        </label>
                            }
                        </div>

                    </div>
                    <div class="form-group col-md-2">

                        <div class="form-check form-check-flat form-check-success" style="margin-top:41px;">
                            @if (Model.IsActiveCardToCard == true)
                            {
                                <label class="form-check-label">
                                    <input checked type="checkbox" class="form-check-input" id="IsActiveCardToCard" value="@Model.IsActiveCardToCard"> تایید خودکار تراکنش<i class="input-helper"></i>
                                </label>
                            }
                            else
                            {
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" id="IsActiveCardToCard" value="@Model.IsActiveCardToCard"> تایید خودکار تراکنش <i class="input-helper"></i>
                        </label>
                            }
                        </div>

                    </div>
                </div>
                <button type="button" id="SaveBotInfo" class="btn btn-success me-2 float-start">ذخیره</button>
            </form>
            <span class="text-info text-small">نکته : برای دریافت شناسه کاربری تلگرام به ربات getmyid_bot مراجعه کنید</span>
            <br />
            <span class="text-info text-small">قیمت ها به تومان می باشد !!</span>
        </div>
    </div>
}
