
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/App/Views/Shared/_Layout.cshtml";
}




<div style="overflow-y:auto;overflow-x:hidden;height:750px;">
    <div class="page-header">
        <h3 class="page-title"> تنظیمات پنل </h3>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            @Html.Action("_BaseSetting", "Settings")
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            @Html.Action("_BotSetting", "Settings")
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
            @Html.Action("_BankNumbers", "Settings")
        </div>
    </div>

</div>


@section scripts {
    <script>

    $(function () {


        new DataTable("#cards", {
            paging: true,
            scrollCollapse: false,
            scrollX: true,
            scrollY: "300px",
            pageLength: 13,
            bFilter: true,
            lengthChange: false,
            searchPlaceholder: "جستجو ",
            sSearch: "Quick Search:",
            language: {
                lengthMenu: "Display _MENU_ records per page",
                zeroRecords: "اطلاعاتی یافت نشد",
                info: "",
                infoEmpty: "اطلاعاتی وجود ندارد",
                infoFiltered: "(filtered from _MAX_ total records)",
                sSearch: "جستجو : ",
                paginate: {
                    previous: "قبلی",
                    next: "بعدی"
                }
            }
        });

        // کد های مربوط به بخش تنظیمات MYSQL

        $("#testConnection").click(function () {

            var IPAddress = $("#IPAddress").val();
            var DatabaseName = $("#DatabaseName").val();
            var Username = $("#Username").val();
            var Password = $("#Password").val();


            if (IPAddress.length == 0) {
                Swal.fire({
                    title: "خطا",
                    text: "لطفا آیپی سرور را وارد کنید",
                    icon: "info"
                });
            } else if (DatabaseName.length == 0) {
                Swal.fire({
                    title: "وضعیت",
                    text: "لطفا نام دیتابیس MYSQL را وارد کنید",
                    icon: "info"
                });
            }
            else if (Username.length == 0) {
                Swal.fire({
                    title: "وضعیت",
                    text: "لطفا نام کابری MYSQL را وارد کنید",
                    icon: "info"
                });
            }
            else if (Password.length == 0) {
                Swal.fire({
                    title: "وضعیت",
                    text: "لطفا رمز عبور MYSQL را وارد کنید",
                    icon: "info"
                });
            }
            else {
                $("#loading").css("display", "flex");
                $.ajax({
                    url: "@Url.Action("ScanPort","Settings")",
                    type: "post",
                    dataType: "html",
                    data: { IPAddress: IPAddress, DatabaseName: DatabaseName, Username: Username, Password: Password },
                    success: function (res) {
                        $("#loading").css("display", "none");

                        var spl = res.split('-');

                        Swal.fire({
                            title: "وضعیت ارتباط",
                            text: spl[1],
                            icon: spl[0]
                        });
                    }
                });
            }

        });


        $("#SaveServerInfo").click(function () {

            var IPAddress = $("#IPAddress").val();
            var DatabaseName = $("#DatabaseName").val();
            var Username = $("#Username").val();
            var Password = $("#Password").val();
            var SubAddr = $("#SubAddr").val();
            var ServerAddress = $("#ServerAddress").val();


            if (IPAddress.length == 0) {
                Swal.fire({
                    title: "خطا",
                    text: "لطفا آیپی سرور را وارد کنید",
                    icon: "warning"
                });
            } else if (DatabaseName.length == 0) {
                Swal.fire({
                    title: "وضعیت",
                    text: "لطفا نام دیتابیس MYSQL را وارد کنید",
                    icon: "warning"
                });
            }
            else if (Username.length == 0) {
                Swal.fire({
                    title: "وضعیت",
                    text: "لطفا نام کابری MYSQL را وارد کنید",
                    icon: "warning"
                });
            }
            else if (Password.length == 0) {
                Swal.fire({
                    title: "وضعیت",
                    text: "لطفا رمز عبور MYSQL را وارد کنید",
                    icon: "warning"
                });
            }
            else if (SubAddr.length == 0) {
                Swal.fire({
                    title: "وضعیت",
                    text: "لطفا دامنه سابسکرایب را وارد کنید",
                    icon: "warning"
                });
            }
            else if (ServerAddress.length == 0) {
                Swal.fire({
                    title: "وضعیت",
                    text: "لطفا دامنه سرور V2board را وارد کنید",
                    icon: "warning"
                });
            }
            else {
                $("#loading").css("display", "flex");
                $.ajax({
                    url: "@Url.Action("ScanPort","Settings")",
                    type: "post",
                    dataType: "html",
                    data: { IPAddress: IPAddress, DatabaseName: DatabaseName, Username: Username, Password: Password  },
                    success: function (res) {
                        $("#loading").css("display", "none");

                        var spl = res.split('-');

                        if (spl[0] == "warning") {

                            Swal.fire({
                                title: "آیا مطمئن هستید",
                                text: "ارتباط با سرویس MYSQL برقرار نیست آیا ذخیره شود ؟",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "بله ذخیره کن",
                                cancelButtonText: "خیر",
                                customClass: {
                                    cancelButton: 'order-1 right-gap',
                                    confirmButton: 'order-2',
                                }
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    $("#loading").css("display", "flex");
                                    $.ajax({
                                        url: "@Url.Action("SaveServerSetting","Settings")",
                                        type: "post",
                                        dataType: "html",
                                        data: { IPAddress: IPAddress, ServerAddress: ServerAddress, DatabaseName: DatabaseName, Username: Username, Password: Password, SubAddr: SubAddr },
                                        success: function (res) {
                                            $("#loading").css("display", "none");

                                            var spl = res.split('-');

                                            Swal.fire({
                                                title: "وضعیت",
                                                text: spl[1],
                                                icon: spl[0]
                                            });
                                        }
                                    });

                                }
                            });
                        }
                        else {
                            $("#loading").css("display", "flex");
                            $.ajax({
                                url: "@Url.Action("SaveServerSetting","Settings")",
                                type: "post",
                                dataType: "html",
                                data: { IPAddress: IPAddress, ServerAddress: ServerAddress, DatabaseName: DatabaseName, Username: Username, Password: Password, SubAddr: SubAddr },
                                success: function (res) {
                                    $("#loading").css("display", "none");

                                    var spl = res.split('-');

                                    Swal.fire({
                                        title: "وضعیت",
                                        text: spl[1],
                                        icon: spl[0]
                                    });
                                }
                            });
                        }

                    }
                });

            }

        });

        // پایان کد های مربوط به بخش تنظیمات MYSQL

        //کد های مربوط به بخش تنظیمات ربات

        $("#SaveBotInfo").click(function () {

            var BotId = $("#BotId").val();
            var BotToken = $("#BotToken").val();
            var TelegramUserId = $("#TelegramUserId").val();
            var ChannelId = $("#ChannelId").val();


            if (BotId.length == 0) {
                Swal.fire({
                    title: "خطا",
                    text: "لطفا آیدی ربات را وارد کنید",
                    icon: "warning"
                });
            } else if (BotToken.length == 0) {
                Swal.fire({
                    title: "وضعیت",
                    text: "لطفا توکن ربات را وارد کنید",
                    icon: "warning"
                });
            }
            else if (TelegramUserId.length == 0) {
                Swal.fire({
                    title: "وضعیت",
                    text: "لطفا شناسه کابری تلگرام ادمین را وارد کنید",
                    icon: "warning"
                });
            }
            else {

                $("#loading").css("display", "flex");
                $.ajax({
                    url: "@Url.Action("SaveBotSetting","Settings")",
                    type: "post",
                    dataType: "html",
                    data: { BotId: BotId, BotToken: BotToken, TelegramUserId: TelegramUserId, ChannelId: ChannelId },
                    success: function (res) {
                        $("#loading").css("display", "none");

                        var spl = res.split('-');

                        Swal.fire({
                            title: "پیغام",
                            text: spl[1],
                            icon: spl[0]
                        });
                    }
                });
            }

        });

        // پایان کد های ربات

        // بخش ذخیره کردن کارت بانکی ها
        $("#SaveBankCards").click(function () {

            var CardNumber = $("#CardNumber").val();
            var NameOfCard = $("#NameOfCard").val();
            var SmsNumberOfCard = $("#SmsNumberOfCard").val();
            var phoneNumber = $("#phoneNumber").val();

            if (CardNumber.length == 0) {
                Swal.fire({
                    title: "خطا",
                    text: "لطفا شماره کارت را وارد کنید",
                    icon: "warning"
                });
            } else if (NameOfCard.length == 0) {
                Swal.fire({
                    title: "خطا",
                    text: "لطفا نام و نام خانوادگی دارنده کارت را وارد کنید",
                    icon: "warning"
                });
            }
            else if (SmsNumberOfCard.length == 0) {
                Swal.fire({
                    title: "خطا",
                    text: "لطفا شماره SMS بانک را وارد کنید",
                    icon: "warning"
                });
            }
            else if (phoneNumber.length == 0) {
                Swal.fire({
                    title: "خطا",
                    text: "لطفا شماره همراه را وارد کنید",
                    icon: "warning"
                });
            }
            else {

                if (CardNumber.length != 16) {
                    Swal.fire({
                        title: "خطا",
                        text: "شماره کارت باید 16 رقم باشد",
                        icon: "warning"
                    });
                }
                else if (phoneNumber.length != 11) {
                    Swal.fire({
                        title: "خطا",
                        text: "شماره تلفن باید 11 رقم باشد",
                        icon: "warning"
                    });
                }
                else {
                    $("#loading").css("display", "flex");
                    $.ajax({
                        url: "@Url.Action("SaveBankNumbers", "Settings")",
                        type: "post",
                        dataType: "html",
                        data: { CardNumber: CardNumber, NameOfCard: NameOfCard, SmsNumberOfCard: SmsNumberOfCard, phoneNumber: phoneNumber },
                        success: function (res) {
                            $("#loading").css("display", "none");

                            var spl = res.split('-');

                            Swal.fire({
                                title: "پیغام",
                                text: spl[1],
                                icon: spl[0]
                            });

                        }
                    });
                }

            }
        });

        // پایان بخش کد های کارت بانکی

    });

        function DeleteCard(CardNumber) {
            Swal.fire({
                title: "آیا مطمئن هستید",
                text: "آیا از حذف شماره کارت " + CardNumber + " مطمئن هستید ؟",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "بله حذف کن",
                cancelButtonText: "خیر",
                customClass: {
                    cancelButton: 'order-1 right-gap',
                    confirmButton: 'order-2',
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    $("#loading").css("display", "flex");
                    $.ajax({
                        url: "@Url.Action("DeleteCard", "Settings")",
                        type: "post",
                        dataType: "html",
                        data: { CardNumber: CardNumber },
                        success: function (res) {
                            $("#loading").css("display", "none");

                            var spl = res.split('-');

                            Swal.fire({
                                title: "پیغام",
                                text: spl[1],
                                icon: spl[0]
                            }).then(() => {
                                location.reload();
                            });
                        }
                    });

                }
            });
        }


    </script>
}