<!DOCTYPE html>
<html class="darkbaz-style layout-navbar-fixed layout-menu-fixed layout-compact" data-assets-path="../../assets/" data-template="vertical-menu-template-starter" data-theme="theme-default" dir="rtl" lang="fa">

<head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" name="viewport" />
    <title>پنل مدیریت کاربران</title>
    <meta content="" name="description" />
    <!-- Favicon -->
    <link href="../../assets/img/logo.png" rel="icon" type="image/x-icon" />
    <link href="../../assets/vendor/fonts/tabler-icons.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="../../assets/vendor/fonts/fontawesome.css" /> -->
    <!-- <link rel="stylesheet" href="../../assets/vendor/fonts/flag-icons.css" /> -->
    <!-- Core CSS -->
    <link class="template-customizer-core-css" href="../../assets/vendor/css/rtl/core.css" rel="stylesheet" />
    <link class="template-customizer-theme-css" href="../../assets/vendor/css/rtl/theme-default.css" rel="stylesheet" />
    <link href="../../assets/css/demo.css" rel="stylesheet" />
    <!-- Vendors CSS -->
    <link href="../../assets/vendor/libs/node-waves/node-waves.css" rel="stylesheet" />
    <link href="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" />
    @RenderSection("vendorStyle", false)
    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="../../assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->
    <script src="../../assets/vendor/js/template-customizer.js"></script>
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="../../assets/js/config.js"></script>
    <!-- Better experience of RTL -->
    <link href="../../assets/css/rtl.css" rel="stylesheet" />

</head>

<body>

    @{
        var Role = Request.Cookies["Role"];
    }

    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            <aside class="layout-menu menu-vertical menu bg-menu-theme" id="layout-menu">
                <div class="app-brand demo">
                    <a class="app-brand-link">
                        <span class="app-brand-logo demo" style="width:45px;height:50px;">
                            <img src="~/assets/img/logo.png" height="70" width="70" />
                        </span>
                        <span class="app-brand-text demo menu-text fw-bold">Safe Net</span>
                    </a>
                    <a class="layout-menu-toggle menu-link text-large ms-auto" href="javascript:void(0);">
                        <i class="ti menu-toggle-icon d-none d-xl-block ti-sm align-middle"></i>
                        <i class="ti ti-x d-block d-xl-none ti-sm align-middle"></i>
                    </a>
                </div>
                <div class="menu-inner-shadow"></div>
                <ul class="menu-inner py-1">
                    <li class="menu-item" style="">
                        <a class="menu-link" href="javascript:void(0);">
                            <i class="menu-icon tf-icons ti ti-smart-home"></i>
                            <div>داشبورد</div>
                        </a>
                    </li>
                    <li class="menu-item" style="">
                        <a class="menu-link" href="@Url.Action("Index","Subscriptions")">
                            <i class="menu-icon tf-icons ti ti-users-group"></i>
                            <div>اشتراک ها</div>
                        </a>
                    </li>

                    @if (Role != null)
                    {
                        if (Role.Value == "1" || Role.Value == "3" || Role.Value == "4")
                        {
                            <!-- نمایندگی -->
                            <li class="menu-header small text-uppercase">
                                <span class="menu-header-text" data-i18n="Components">نمایندگی</span>
                            </li>
                            <li class="menu-item" style="">
                                <a class="menu-link" href="@Url.Action("Index","Admin",new {area="App"})">
                                    <i class="menu-icon tf-icons ti ti-user-share"></i>
                                    <div>نمایندگان</div>
                                </a>
                            </li>
                            <li class="menu-item" style="">
                                <a class="menu-link" href="@Url.Action("Index","Plan",new {area="App"})">
                                    <i class="menu-icon tf-icons ti ti-3d-rotate"></i>
                                    <div>تعرفه ها</div>
                                </a>
                            </li>
                        }
                        if (Role.Value == "1")
                        {
                            <li class="menu-item" style="">
                                <a class="menu-link" href="@Url.Action("Index","ServerGroups",new {area="App"})">
                                    <i class="menu-icon tf-icons ti ti-lock-access-off"></i>
                                    <div>دسته بندی ها</div>
                                </a>
                            </li>
                        }
                    }

                    @if (Role.Value == "1")
                    {
                        <!-- ربات -->
                        <li class="menu-header small text-uppercase">
                            <span class="menu-header-text" data-i18n="Components">ربات</span>
                        </li>
                    }
                    else
                    {
                        <!-- ربات -->
                        <li class="menu-header small text-uppercase">
                            <span class="menu-header-text" data-i18n="Components">ربات (درحال توسعه)</span>
                        </li>
                    }
                    <li class="menu-item" style="">
                        <a class="menu-link" href="@Url.Action("Index","BotFactors",new {area="App"})">
                            <i class="menu-icon tf-icons ti ti-cash"></i>
                            <div>فاکتور ها</div>
                        </a>
                    </li>
                    <li class="menu-item" style="">
                        <a class="menu-link" href="@Url.Action("Index","Orders",new {area="App"})">
                            <i class="menu-icon tf-icons ti ti-shopping-cart"></i>
                            <div>سفارشات</div>
                        </a>
                    </li>
                    <li class="menu-item" style="">
                        <a class="menu-link" href="@Url.Action("Index","TelegramUsers",new {area="App"})">
                            <i class="menu-icon tf-icons ti ti-users"></i>
                            <div>مشترکین</div>
                        </a>
                    </li>
                    <!-- ربات -->
                    <li class="menu-header small text-uppercase">
                        <span class="menu-header-text" data-i18n="Components">پیکربندی (درحال توسعه)</span>
                    </li>
                    @if (Role.Value == "1")
                    {
                        <li class="menu-item" style="">
                            <a class="menu-link" href="javascript:void(0);">
                                <i class="menu-icon tf-icons ti ti-server"></i>
                                <div>سرور</div>
                            </a>
                        </li>
                    }
                    <li class="menu-item" style="">
                        <a class="menu-link" href="javascript:void(0);">
                            <i class="menu-icon tf-icons ti ti-robot"></i>
                            <div>ربات</div>
                        </a>
                    </li>

                </ul>
            </aside>
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                <nav class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme" id="layout-navbar">
                    <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
                        <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)"> <i class="ti ti-menu-2 ti-sm"></i> </a>
                    </div>
                    <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
                        <!-- Search -->
                        <div class="navbar-nav align-items-center">
                            <div class="nav-item navbar-search-wrapper mb-0">
                                <a class="nav-item nav-link search-toggler d-flex align-items-center px-0" href="javascript:void(0);"> <i class="ti ti-search ti-md me-2 h-mirror"></i> <span class="d-none d-md-inline-block text-muted">جستجو (/+Ctrl)</span> </a>
                            </div>
                        </div>
                        <!-- /Search -->
                        <ul class="navbar-nav flex-row align-items-center ms-auto">
                            <!-- Language -->
                            @*<li class="nav-item dropdown-language dropdown me-2 me-xl-0">
                                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown"> <i class="ti ti-language rounded-circle ti-md"></i> </a>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0);" data-language="fa" data-text-direction="rtl"> <span class="align-middle">فارسی</span> </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0);" data-language="en" data-text-direction="ltr"> <span class="align-middle">انگلیسی</span> </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0);" data-language="fr" data-text-direction="ltr"> <span class="align-middle">فرانسوی</span> </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0);" data-language="ar" data-text-direction="rtl"> <span class="align-middle">عربي</span> </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0);" data-language="de" data-text-direction="ltr"> <span class="align-middle">آلمانی</span> </a>
                                        </li>
                                    </ul>
                                </li>*@
                            <!--/ Language -->
                            <!-- Style Switcher -->
                            <li class="nav-item dropdown-style-switcher dropdown me-2 me-xl-0">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown"> <i class="ti ti-md"></i> </a>
                                <ul class="dropdown-menu dropdown-menu-end dropdown-styles">
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0);" data-theme="light"> <span class="align-middle"><i class="ti ti-sun me-2"></i>روز</span> </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0);" data-theme="dark"> <span class="align-middle"><i class="ti ti-moon me-2"></i>شب</span> </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0);" data-theme="system"> <span class="align-middle"><i class="ti ti-device-desktop me-2"></i>سیستم</span> </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- / Style Switcher-->
                            <!-- Quick links  -->
                            @*<li class="nav-item dropdown-shortcuts navbar-dropdown dropdown me-2 me-xl-0">
                                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                       aria-expanded="false"> <i class="ti ti-layout-grid-add ti-md"></i> </a>
                                    <div class="dropdown-menu dropdown-menu-end py-0">
                                        <div class="dropdown-menu-header border-bottom">
                                            <div class="dropdown-header d-flex align-items-center py-3">
                                                <h5 class="text-body mb-0 me-auto">میانبرها</h5> <a href="javascript:void(0)" class="dropdown-shortcuts-add text-body" data-bs-toggle="tooltip" data-bs-placement="top"
                                                                                                    title="افزودن میانبر">
                                                    <i class="ti ti-sm ti-apps"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="dropdown-shortcuts-list scrollable-container">
                                            <div class="row row-bordered overflow-visible g-0">
                                                <div class="dropdown-shortcuts-item col">
                                                    <span class="dropdown-shortcuts-icon rounded-circle mb-2 mt-1">
                                                        <i class="ti ti-calendar fs-4"></i>
                                                    </span> <a href="app-calendar.html" class="stretched-link mb-0">تقویم</a> <small class="text-muted mb-0">قرارهای ملاقات</small>
                                                </div>
                                                <div class="dropdown-shortcuts-item col">
                                                    <span class="dropdown-shortcuts-icon rounded-circle mb-2 mt-1">
                                                        <i class="ti ti-file-invoice fs-4"></i>
                                                    </span> <a href="app-invoice-list.html" class="stretched-link mb-0">صورتحساب‌</a> <small class="text-muted mb-0">مدیریت پرداخت‌ها</small>
                                                </div>
                                            </div>
                                            <div class="row row-bordered overflow-visible g-0">
                                                <div class="dropdown-shortcuts-item col">
                                                    <span class="dropdown-shortcuts-icon rounded-circle mb-2 mt-1">
                                                        <i class="ti ti-users fs-4"></i>
                                                    </span> <a href="app-user-list.html" class="stretched-link mb-0">مشتریان</a> <small class="text-muted mb-0">مدیریت کاربران</small>
                                                </div>
                                                <div class="dropdown-shortcuts-item col">
                                                    <span class="dropdown-shortcuts-icon rounded-circle mb-2 mt-1">
                                                        <i class="ti ti-lock fs-4"></i>
                                                    </span> <a href="app-access-roles.html" class="stretched-link mb-0">سطح دسترسی</a> <small class="text-muted mb-0">موارد امنیتی</small>
                                                </div>
                                            </div>
                                            <div class="row row-bordered overflow-visible g-0">
                                                <div class="dropdown-shortcuts-item col">
                                                    <span class="dropdown-shortcuts-icon rounded-circle mb-2 mt-1">
                                                        <i class="ti ti-chart-bar fs-4"></i>
                                                    </span> <a href="index.html" class="stretched-link mb-0">داشبورد</a> <small class="text-muted mb-0">گزارش آماری</small>
                                                </div>
                                                <div class="dropdown-shortcuts-item col">
                                                    <span class="dropdown-shortcuts-icon rounded-circle mb-2 mt-1">
                                                        <i class="ti ti-settings fs-4"></i>
                                                    </span> <a href="pages-account-settings-account.html" class="stretched-link mb-0">تنظیمات</a> <small class="text-muted mb-0">مدیریت سیستم</small>
                                                </div>
                                            </div>
                                            <div class="row row-bordered overflow-visible g-0">
                                                <div class="dropdown-shortcuts-item col">
                                                    <span class="dropdown-shortcuts-icon rounded-circle mb-2 mt-1">
                                                        <i class="ti ti-help fs-4"></i>
                                                    </span> <a href="pages-faq.html" class="stretched-link mb-0">مرکز پشتیبانی</a> <small class="text-muted mb-0">سوالات متداول و راهنما</small>
                                                </div>
                                                <div class="dropdown-shortcuts-item col">
                                                    <span class="dropdown-shortcuts-icon rounded-circle mb-2 mt-1">
                                                        <i class="ti ti-square fs-4"></i>
                                                    </span> <a href="modal-examples.html" class="stretched-link mb-0">مُـدال‌ها</a> <small class="text-muted mb-0">پاپ‌آپ‌های کاربردی</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>*@
                            <!-- Quick links -->
                            <!-- Notification -->
                            @*<li class="nav-item dropdown-notifications navbar-dropdown dropdown me-3 me-xl-1">
                                    <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                       aria-expanded="false"> <i class="ti ti-bell ti-md"></i> <span class="badge bg-danger rounded-pill badge-notifications">5</span> </a>
                                    <ul class="dropdown-menu dropdown-menu-end py-0">
                                        <li class="dropdown-menu-header border-bottom">
                                            <div class="dropdown-header d-flex align-items-center py-3">
                                                <h5 class="text-body mb-0 me-auto">اعلانات</h5> <a href="javascript:void(0)" class="dropdown-notifications-all text-body" data-bs-toggle="tooltip" data-bs-placement="top"
                                                                                                   title="همه خوانده شده">
                                                    <i class="ti ti-mail-opened fs-4"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li class="dropdown-notifications-list scrollable-container">
                                            <ul class="list-group list-group-flush">
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar"> <img src="../../assets/img/avatars/1.png" alt class="h-auto rounded-circle" /> </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-2">تبریک به شما 🎉</h6>
                                                            <p class="mb-1">نشان برترین فروشنده ماه رو گرفتید</p> <small class="text-muted">الان</small>
                                                        </div>
                                                        <div class="flex-shrink-0 dropdown-notifications-actions">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a> <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="ti ti-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar"> <span class="avatar-initial rounded-circle bg-label-danger">ن‌م</span> </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-2">نوید محمدزاده</h6>
                                                            <p class="mb-1">درخواست شمارا پذیرفت.</p> <small class="text-muted">1 ساعت قبل</small>
                                                        </div>
                                                        <div class="flex-shrink-0 dropdown-notifications-actions">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a> <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="ti ti-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar"> <img src="../../assets/img/avatars/2.png" alt class="h-auto rounded-circle" /> </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-2">پیام جدید از بهاره ✉️</h6>
                                                            <p class="mb-1">شما یک پیام جدید از بهاره افشاری دارید </p> <small class="text-muted">12 ساعت قبل</small>
                                                        </div>
                                                        <div class="flex-shrink-0 dropdown-notifications-actions">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a> <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="ti ti-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar">
                                                                <span class="avatar-initial rounded-circle bg-label-success">
                                                                    <i class="ti ti-shopping-cart"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-2">ایول! سفارش جدید داری 🛒</h6>
                                                            <p class="mb-1">شرکت یلدا سفارشی جدید ثبت کرد</p> <small class="text-muted">امروز</small>
                                                        </div>
                                                        <div class="flex-shrink-0 dropdown-notifications-actions">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a> <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="ti ti-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar"> <img src="../../assets/img/avatars/9.png" alt class="h-auto rounded-circle" /> </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-2">اپلیکیشن بروزرسانی شد 🚀</h6>
                                                            <p class="mb-1">پروژه شما باموفقیت آپدیت شد.</p> <small class="text-muted">دیروز</small>
                                                        </div>
                                                        <div class="flex-shrink-0 dropdown-notifications-actions">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a> <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="ti ti-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar">
                                                                <span class="avatar-initial rounded-circle bg-label-success">
                                                                    <i class="ti ti-chart-pie"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-2">گزارش ماهانه دردسترس است</h6>
                                                            <p class="mb-1">گزارش درآمد ماه شهریور آماده است</p> <small class="text-muted">2 روز قبل</small>
                                                        </div>
                                                        <div class="flex-shrink-0 dropdown-notifications-actions">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a> <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="ti ti-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar"> <img src="../../assets/img/avatars/5.png" alt class="h-auto rounded-circle" /> </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-2">ارسال درخواست همکاری</h6>
                                                            <p class="mb-1">حسام درخواست همکاری فرستاد</p> <small class="text-muted">1 هفته قبل</small>
                                                        </div>
                                                        <div class="flex-shrink-0 dropdown-notifications-actions">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a> <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="ti ti-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar"> <img src="../../assets/img/avatars/6.png" alt class="h-auto rounded-circle" /> </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-2">پیام جدید از ترانه</h6>
                                                            <p class="mb-1">شما یک پیام جدید دارید</p> <small class="text-muted">1 ماه قبل</small>
                                                        </div>
                                                        <div class="flex-shrink-0 dropdown-notifications-actions">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a> <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="ti ti-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="list-group-item list-group-item-action dropdown-notifications-item marked-as-read">
                                                    <div class="d-flex">
                                                        <div class="flex-shrink-0 me-3">
                                                            <div class="avatar">
                                                                <span class="avatar-initial rounded-circle bg-label-warning">
                                                                    <i class="ti ti-alert-triangle"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <h6 class="mb-2">میزان مصرف CPU بالاست</h6>
                                                            <p class="mb-1">درصد استفاده از CPU درحال حاضر 90%</p> <small class="text-muted">1 ماه قبل</small>
                                                        </div>
                                                        <div class="flex-shrink-0 dropdown-notifications-actions">
                                                            <a href="javascript:void(0)" class="dropdown-notifications-read">
                                                                <span class="badge badge-dot"></span>
                                                            </a> <a href="javascript:void(0)" class="dropdown-notifications-archive">
                                                                <span class="ti ti-x"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="dropdown-menu-footer border-top">
                                            <a href="javascript:void(0);" class="dropdown-item d-flex justify-content-center text-primary p-2 h-px-40 mb-1 align-items-center">
                                                نمایش همه اعلانات
                                            </a>
                                        </li>
                                    </ul>
                                </li>*@
                            <!--/ Notification -->
                            <!-- User -->
                            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                                <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                                    <div class="avatar avatar-online"> <img src="../../assets/img/avatars/profile.png" alt class="h-auto rounded-circle" /> </div>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end">
                                    <li>
                                        <a class="dropdown-item" href="pages-account-settings-account.html">
                                            <div class="d-flex">
                                                <div class="flex-shrink-0 me-3">
                                                    <div class="avatar avatar-online"> <img src="../../assets/img/avatars/profile.png" class="h-auto rounded-circle" /> </div>
                                                </div>
                                                @if (Role.Value == "1")
                                                {
                                                    <div class="flex-grow-1">
                                                        <span class="fw-semibold d-block mb-1">@User.Identity.Name</span> <small class="text-muted">مدیر</small>
                                                    </div>
                                                }
                                                else if (Role.Value == "2")
                                                {
                                                    <div class="flex-grow-1">
                                                        <span class="fw-semibold d-block mb-1">@User.Identity.Name</span> <small class="text-muted">نماینده</small>
                                                    </div>
                                                }
                                                else if (Role.Value == "4" || Role.Value == "3")
                                                {
                                                    <div class="flex-grow-1">
                                                        <span class="fw-semibold d-block mb-1">@User.Identity.Name</span> <small class="text-muted">نماینده کل</small>
                                                    </div>
                                                }
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    @if (Role.Value == "4")
                                    {
                                        <li>
                                            <span class="dropdown-item"> <i class="ti ti-access-point me-2 ti-sm"></i> <span class="align-middle">مصرف : <span id="Useage">در حال محاسبه</span> گیگ</span> </span>
                                        </li>
                                        <li>
                                            <span class="dropdown-item"> <i class="ti ti-cash me-2 ti-sm"></i> <span class="align-middle">بدهی : <span id="UserPerPrice">در حال محاسبه</span> تومان </span></span>
                                        </li>
                                        <li>
                                            <span class="dropdown-item"> <i class="ti ti-currency-dollar me-2 ti-sm"></i> <span class="align-middle">قیمت واحد (گیگ) : <span id="pricePerGig">...</span> تومان</span> </span>
                                        </li>
                                        <li>
                                            <span class="dropdown-item"> <i class="ti ti-currency-dollar me-2 ti-sm"></i> <span class="align-middle">قیمت واحد (ماه) : <span id="pricePerMonth">...</span> تومان</span> </span>
                                        </li>
                                    }
                                    else if (Role.Value == "1")
                                    {
                                        <li>
                                            <span class="dropdown-item"> <i class="ti ti-access-point me-2 ti-sm"></i> <span class="align-middle">مصرف (دو ماه) : <span id="Useage">در حال محاسبه</span> گیگ</span> </span>
                                        </li>
                                    }
                                    else if (Role.Value == "3")
                                    {
                                        <li>
                                            <span class="dropdown-item"> <i class="ti ti-moneybag me-2 ti-sm"></i> <span class="align-middle">موجودی : <span id="user_inventory">...</span> تومان</span> </span>
                                        </li>
                                        <li>
                                            <span class="dropdown-item"> <i class="ti ti-cash me-2 ti-sm"></i> <span class="align-middle">بدهی : <span id="user_debt">...</span> تومان</span> </span>
                                        </li>
                                        <li>
                                            <span class="dropdown-item"> <i class="ti ti-currency-dollar me-2 ti-sm"></i> <span class="align-middle">قیمت واحد (گیگ) : <span id="pricePerGig">...</span> تومان</span> </span>
                                        </li>
                                        <li>
                                            <span class="dropdown-item"> <i class="ti ti-currency-dollar me-2 ti-sm"></i> <span class="align-middle">قیمت واحد (ماه) : <span id="pricePerMonth">...</span> تومان</span> </span>
                                        </li>
                                        <li>
                                            <span class="dropdown-item"> <i class="ti ti-currency-dollar me-2 ti-sm"></i> <span class="align-middle">قیمت واحد (کاربر) : <span id="pricePerUser">...</span> تومان</span> </span>
                                        </li>
                                    }
                                    else
                                    {
                                        <li>
                                            <span class="dropdown-item"> <i class="ti ti-currency-dollar me-2 ti-sm"></i> <span class="align-middle">موجودی : <span id="user_inventory">...</span> تومان</span> </span>
                                        </li>
                                        <li>
                                            <span class="dropdown-item"> <i class="ti ti-cash me-2 ti-sm"></i> <span class="align-middle">بدهی : <span id="user_debt">...</span> تومان</span> </span>
                                        </li>
                                    }
                                    @*<li>
            <a class="dropdown-item" href="pages-account-settings-billing.html">
                <span class="d-flex align-items-center align-middle">
                    <i class="flex-shrink-0 ti ti-credit-card me-2 ti-sm"></i>
                    <span class="flex-grow-1 align-middle">خریدها</span> <span class="flex-shrink-0 badge badge-center rounded-pill bg-label-danger w-px-20 h-px-20">2</span>
                </span>
            </a>
        </li>*@
                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="pages-profile-user.html"> <i class="ti ti-user-check me-2 ti-sm"></i> <span class="align-middle">پروفایل من</span> </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="pages-account-settings-account.html"> <i class="ti ti-settings me-2 ti-sm"></i> <span class="align-middle">تنظیمات</span> </a>
                                    </li>

                                    <li>
                                        <div class="dropdown-divider"></div>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="@Url.Action("LogOut","Admin",new {area="App"})"> <i class="ti ti-logout me-2 ti-sm"></i> <span class="align-middle">خروج از حساب</span> </a>
                                    </li>
                                </ul>
                            </li>
                            <!--/ User -->
                        </ul>
                    </div>
                    <!-- Search Small Screens -->
                    <div class="navbar-search-wrapper search-input-wrapper d-none">
                        <input type="text" class="form-control search-input container-xxl border-0" placeholder="جستجو..." aria-label="جستجو..." /> <i class="ti ti-x ti-sm search-toggler cursor-pointer"></i>
                    </div>
                </nav>
                <!-- / Navbar -->
                <!-- Content wrapper -->
                <div class="content-wrapper">
                    <!-- Content -->
                    <div class="container-xxl flex-grow-1 container-p-y">
                        @RenderBody()
                    </div>
                    <!-- / Content -->
                    <div class="content-backdrop fade"></div>
                </div>
                <!-- Content wrapper -->
            </div>
            <!-- / Layout page -->
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
        <!-- Drag Target Area To SlideIn Menu On Small Screens -->
        <div class="drag-target"></div>
    </div>

    <div aria-atomic="true" aria-live="assertive" class="bs-toast toast toast-placement-ex m-2" data-bs-delay="5000" role="alert">
        <div class="toast-header">
            <i class="ti ti-bell ti-xs me-2"></i>
            <div class="me-auto fw-medium">موفق</div>
            <button aria-label="بستن" class="btn-close" data-bs-dismiss="toast" type="button"></button>
        </div>
        <div class="toast-body">اشتراک با موفقیت ویرایش شد</div>
    </div>

    <!-- / Layout wrapper -->
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="../../assets/vendor/libs/jquery/jquery.js"></script>
    <script src="../../assets/vendor/libs/popper/popper.js"></script>
    <script src="../../assets/vendor/js/bootstrap.js"></script>
    <script src="../../assets/vendor/libs/node-waves/node-waves.js"></script>
    <script src="../../assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../../assets/vendor/libs/hammer/hammer.js"></script>
    <script src="../../assets/vendor/js/menu.js"></script>
    <script>
        function AjaxFormGet(url, form) {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    url: url,
                    type: 'Get',
                    data: $(form).serialize(),
                    success: function (response) {
                        resolve(response);
                    },
                    error: function (xhr, status, error) {
                        reject({ xhr: xhr, status: status, error: error });
                    }
                });
            });
        }

        function AjaxGet(url) {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    url: url,
                    type: 'Get',
                    success: function (response) {
                        resolve(response);
                    },
                    error: function (xhr, status, error) {
                        reject({ xhr: xhr, status: status, error: error });
                    }
                });
            });
        }


        function AjaxFormPost(url, form) {
            return new Promise(function (resolve, reject) {
                $.ajax({
                    url: url,
                    type: 'POST',
                    data: $(form).serialize(),
                    success: function (response) {
                        resolve(response);
                    },
                    error: function (xhr, status, error) {
                        reject({ xhr: xhr, status: status, error: error });
                    }
                });
            });
        }

    </script>
    <!-- endbuild -->
    @RenderSection("vendorScripts", false)

    <script>
        /// تابع توستر برای استفاده در کلاس Toaster در سی شارپ
        let toastPlacementExample = document.querySelector('.toast-placement-ex');
        toastPlacementExample.classList.add("bottom-0", "end-0");

        function showToast(headerText, bodyText, type) {
            toastPlacementExample.querySelector('.ti').classList.add(type);
            let toastHeader = toastPlacementExample.querySelector('.me-auto.fw-medium');
            let toastBody = toastPlacementExample.querySelector('.toast-body');

            toastHeader.textContent = headerText;
            toastBody.textContent = bodyText;

            let toastPlacement = new bootstrap.Toast(toastPlacementExample);
            toastPlacement.show();
        }

        function blockUI(input) {
            $(input).block({
                message: '<div class="spinner-border text-primary" role="status"></div>',
                css: {
                    backgroundColor: 'transparent',
                    border: '0'
                },
                overlayCSS: {
                    backgroundColor: 'transparent',
                    opacity: 0.8
                }
            });
        }

        function UnblockUI(input) {
            $(input).unblock();
        }

        function BodyBlockUI() {
            $('body').block({
                message: '<div class="spinner-border text-primary" role="status"></div>',
                css: {
                    backgroundColor: 'transparent',
                    border: '0'
                },
                overlayCSS: {
                    backgroundColor: 'transparent',
                    opacity: 0.8
                }
            });
        }

        function BodyUnblockUI(input) {
            $('body').unblock();
        }



    </script>

    <script>
        $(function () {
            var offcanvasElements = document.getElementsByClassName('offcanvas');
            Array.prototype.forEach.call(offcanvasElements, function (offcanvas) {
                offcanvas.addEventListener('hidden.bs.offcanvas', function () {
                    console.log('Offcanvas has been closed.');
                    const forms = this.querySelectorAll('form.addNewUserForm');
                    forms.forEach(form => form.reset());
                    $(this).find("input[type='hidden']").val("0");
                });
            });
        });
    </script>

    <!-- Vendors JS -->
    <!-- Main JS -->
    <script src="../../assets/js/main.js"></script>
    @RenderSection("customScripts", false)
    <script>

        $(function () {

            $('input').attr("autocomplete", "off");

        });



        $("#ChangeProf").click(function () {
            $('#Profile').trigger('click');
        });

        $("#Profile").change(function () {

            $("#ProfileForm").submit();
        });




    </script>

    <script>

        function copyToClipboard(text) {
            // Check if the Clipboard API is available
            if (navigator.clipboard) {
                navigator.clipboard.writeText(text).then(() => {
                    ;
                    showToast("موفق", "لینک با موفقیت در کلیپ بورد کپی شد", "text-success");
                }).catch(err => {
                    showToast("ناموفق", "کپی لینک با خطا مواجه شد", "text-danger");
                });
            } else {
                // Fallback for browsers that do not support the Clipboard API
                let textArea = document.createElement("textarea");
                textArea.value = text;
                textArea.style.position = "fixed";  // Avoid scrolling to bottom
                document.body.appendChild(textArea);
                textArea.focus();
                textArea.select();

                try {
                    document.execCommand('copy');
                    showToast("موفق", "لینک با موفقیت در کلیپ بورد کپی شد", "text-success");
                } catch (err) {
                    showToast("ناموفق", "کپی لینک با خطا مواجه شد", "text-danger");
                }

                document.body.removeChild(textArea);
            }
        }





        function separateDigits(input) {
            // دریافت مقدار فعلی input
            var value = input.value;

            // حذف همه کاراکترهای غیر عددی
            value = value.replace(/\D/g, '');

            // جدا کردن اعداد به صورت سه رقم سه رقم
            var formattedValue = value.replace(/\B(?=(\d{3})+(?!\d))/g, ',');

            // تنظیم مقدار جدید در input
            input.value = formattedValue;
        }

        // تعریف یک تابع برای خواندن پارامترهای URL
        function getUrlParameter(name) {
            name = name.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
            var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
            var results = regex.exec(location.search);
            return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
        };


        // Load Debt and user inventory data

        $(function () {

            $.ajax({
                url: "@Url.Action("GetWallet","Admin",new {area="App"})",
                type: "get",
                dataType: "json",
                async: true,
                success: function (res) {
                    if (res.status == "success") {

                        @if(Role.Value == "4")
            {
                            <text>

                        $("#UserPerPrice").html(res.data.UserPerPrice);
                        $("#Useage").html(res.data.Useage);
                        $("#pricePerGig").html(res.data.pricePerGig);
                        $("#pricePerMonth").html(res.data.pricePerMonth);
        </text>
            }
else if(Role.Value == "2")
            {
                <text>

                        $("#user_inventory").html(res.data.inventory);
                        $("#user_debt").html(res.data.debt);

                        </text>
            } else if(Role.Value == "1")
            {
                <text>
                        $("#Useage").html(res.data.Useage);
                        </text>
            }
               else if(Role.Value == "3")
            {
                <text>
                        $("#user_inventory").html(res.data.inventory);
                        $("#user_debt").html(res.data.debt);
                        $("#pricePerGig").html(res.data.pricePerGig);
                        $("#pricePerMonth").html(res.data.pricePerMonth);
                        $("#pricePerUser").html(res.data.pricePerUser);
                        </text>
            }

                    }
                }
            });

        });

    </script>

    <!-- Page JS -->
</body>

</html>
